body { padding-top: 50px; }

#header { background-color: #000000; }
    #header .navbar { margin: 0; background: none; background-color: #000000; border: none; color: white; }
    .logo-text { font-weight: bolder; }

a.fa:hover { text-decoration: none; }

li.active { background-color: #eeeeee; }

.mbox {
    height: 90px; width: 140px; display: inline-block; list-style: none; background: #333333; color: white; margin-right: 0; padding: 8px;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
    background: #333333;
    cursor: pointer;
    margin-top: 10px;
    z-index: 90;
    border-left: 1px solid #666666;
}
.mbox.active {
    -webkit-transform: scale(1.2,1.2);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1.2,1.2);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
    z-index: 99;
    background: #444444;
    cursor: auto;
    margin-top: 0px;
    margin-left: 13px;
    border-left: none;
}
.mbox.active-right {
    margin-left: 14px;
}

/* **Just Playing Around** .latest_activity { position: relative; }
    .latest_activity li {
        -webkit-transition: all 0.3s cubic-bezier(0.000, 0.000, 0.580, 1.000);
        -moz-transition: all 0.3s cubic-bezier(0.000, 0.000, 0.580, 1.000);
        -o-transition: all 0.3s cubic-bezier(0.000, 0.000, 0.580, 1.000);
        transition: all 0.3s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    }
    .latest_activity li.ng-enter, .latest_activity li.ng-leave.ng-leave-active {
        height: 0;
        opacity: 0;
    }
    .latest_activity li.ng-leave, .latest_activity li.ng-enter.ng-enter-active {
        height: auto;
        opacity: 1;
    }*/

.inactive { opacity: 0.3; }

#notifications-container {
    background-color: #3e3e40;
    width: 283px;
    position: absolute;
    z-index: 9999;
    top: 70px;
    right: 30px;
    max-height: 300px;
    overflow: hidden;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}
#notifications-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#notifications-container li {
    border-top: 1px solid #636366;
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 5px 10px;
}
#notifications-container li i {
    float: left;
    margin-top: 3px;
}
#notifications-container li span {
    margin-left: 23px;
    display: block;
}
#notifications-container li a {
    display: block;
    width: 100%;
    color: lightgrey;
    font-weight: normal;
}
#notifications-container li a:hover {
    text-decoration: none;
}
#notifications-container li:hover {
    background-color: #4e4e49;
}

.taskpr-green {
    background-color: rgba(0,255,0,0.10);
}

.taskpr-red {
    background-color: rgba(255,0,0,0.10);
}

.taskpr-normal {
    background-color: rgba(0,0,0,0.15);
}

.taskpr-yellow {
    background-color: rgba(255,238,0,0.10);
}

.prehide { display: none; }

.delete-note { display: none; }
.edit-note { display: none; }
.overflow:hover .delete-note { display: block; }
.overflow:hover .edit-note { display: inline-block; }
.overflow:hover .task-icon { display: none; }

.show-linebreaks { white-space: pre-line; }

.text-warning {
    color: #EEA236 !important;
}

#task-table {
    table-layout: fixed;
    word-wrap: break-word;
}

#left-scroll strong.text-success { color: #36AD38 !important; }