<% include ../common/header %>

<header id="header">
    <div class="container">
        <% include ../common/navbar %>
    </div>
</header>

<section id="content">
    <div class="container">

        <% include ../common/flash_message %>

        <h2>&nbsp;We couldn't find that. (404)</h2>

    </div>
</section>

<% include ../common/footer %>