<% include ../common/header %>

<header id="header">
    <div class="container">
        <% include ../common/navbar %>
    </div>
</header>

<section id="content">
    <div class="container">

        <br >

        <% include ../common/flash_message %>

        <div>
            <h2>Workado</h2>
        </div>

        <br />

    </div>
</section>

<% include ../common/footer %>