<% include ../common/header %>
<% include ../common/navbar %>

<section id="content">
    <div class="container" ng-controller="LoginController">

        <br >

        <% include ../common/flash_message %>

        <div class="row">
            <div class="col-md-4"></div>
            <div id="login_wrapper" class="col-md-4">
                <div id="login_brand" class="text-center">
                    <h2 class="branding">Workado</h2>
                </div>
                <div id="login_slogan">&nbsp;</div>

                <div id="login_social_options"></div>
                <div id="login_splitter"></div>
                <div id="login_standard">
                    <form method="post" action="/login" ng-submit="login()">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input id="username" name="username" type="email" class="form-control input-lg" ng-model="creds.email" placeholder="Your email/username" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input id="password" name="password" type="password" class="form-control input-lg" ng-model="creds.password" placeholder="Password" />
                                </div>
                            </div>
                        </div>
                        <!--<div class="row">
                            <div class="col-md-12">
                                <div class="form-group text-right">
                                    <a class="fplink" tabindex="-1" href="/forgot-password/">Forgot your password?</a>
                                </div>
                            </div>
                        </div>-->
                        <div class="row">
                            <div class="col-md-6">
                                <!--<div class="form-group" style="padding-top: 10px;">
                                    <input type="checkbox" id="remember" name="remember" />
                                    <label for="remember">Remember me</label>
                                </div>-->
                            </div>
                            <div class="col-md-6 text-right">
                                <div class="form-group">
                                    <label>Remember me</label>
                                    <input type="checkbox" name="remember_me" ng-checked="do_remember" ng-click="remember_me()" />
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-lg" type="submit">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-sign-in"></i>&nbsp;Sign in&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--<div class="row">
                        <div class="col-md-12 text-center">
                            Don't have an account yet? <a href="/register" target="_self" class="signup" title="">Register.</a>
                        </div>
                    </div>-->
                </div>
                &nbsp;
            </div>
            <div class="col-md-4"></div>
        </div>

    </div>
</section>

<% include ../common/footer %>