<div class="modal fade" id="modal_load_month" tabindex="-1" role="dialog" aria-labelledby="label_modal_load_month" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" style="width: 500px;">
        <div class="modal-content">
            <form name="form_load_month" class="form-horizontal" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="label_modal_load_month">Load a Month Template</h4>
                </div>
                <div class="modal-body" style="padding-left: 35px; padding-right: 35px; padding-bottom: 0;">
                    <div class="form-group" ng-show="!month_load_mode">
                        <label for="ddl_MonthTemplates">Template:</label>
                        <select id="ddl_MonthTemplates" name="selectedmt" class="form-control" ng-change="select_month_template()" ng-model="selectedmt" ng-options="template.title for template in month_templates" required>
                            <option value="">-- Custom --</option>
                        </select>
                    </div>
                    <div class="form-group" ng-show="month_load_mode">
                        <label for="TemplateProgress">Applying template...</label>
                        <div id="TemplateProgress" class="progress progress-striped">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{month_load_status}}" aria-valuemin="0" aria-valuemax="100" style="width: {{month_load_status}}%">
                                <span class="sr-only">{{month_load_status}}% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary btn-block" ng-disabled="form_load_month.$invalid || month_load_mode" ng-click="load_month()"><i class="fa fa-plus-o"></i>&nbsp;Apply Template</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>