<div class="modal fade" id="modal_add_note" tabindex="-1" role="dialog" aria-labelledby="label_modal_add_note" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" style="width: 500px;">
        <div class="modal-content">
            <form name="form_add_note" class="form-horizontal" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" ng-if="note_mode != 'edit'">Add Campaign Note</h4>
                    <h4 class="modal-title" ng-if="note_mode == 'edit'">Edit Campaign Note</h4>
                </div>
                <div class="modal-body" style="padding-left: 35px; padding-right: 35px; padding-bottom: 0;">
                    <div class="form-group">
                        <!--<label for="txt_CampaignNote">Write a note about this campaign:</label>-->
                        <textarea rows="5" class="form-control" name="description" ng-model="note.note" id="txt_CampaignNote" placeholder="Write your note..."></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary btn-block" ng-disabled="form_add_note.$invalid" ng-click="save_note(note)"><i class="fa fa-plus-o"></i>&nbsp;Save Note</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>