<!-- Add Entry Modal -->
<div class="modal fade" id="modal_edit_task" tabindex="-1" role="dialog" aria-labelledby="label_modal_edit_task" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" style="width: 500px;">
        <div class="modal-content">
            <form name="form_edit_task" class="form-horizontal" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="label_modal_edit_task" ng-bind="label_modal_edit_task"></h4>
                </div>
                <div class="modal-body" style="padding-left: 35px; padding-right: 35px; padding-bottom: 0;">
                    <!--<div class="form-group">
                        <label for="ddl_Templates">Template:</label>
                        <select id="ddl_Templates" name="templates" class="form-control" ng-change="select_template()" ng-model="selected_template">
                            <option value="">-- Custom --</option>
                            <option ng-repeat="template in templates" value="{{template.id}}">{{template.title}}</option>
                        </select>
                    </div>-->
                    <div class="form-group">
                        <label for="ddl_Templates">Title:</label>
                        <input type="text" class="form-control" name="title" ng-model="editing_task.title" id="txt_TaskTitle" placeholder="Name your new task" ng-blur="hide_task_typeahead()" ng-change="show_task_typeahead = true" autocomplete="off" required />
                        <div style="position: relative;" ng-show="show_task_typeahead">
                            <ul class="dropdown-menu" role="menu" style="position: absolute; display:block;">
                                <li role="presentation" ng-repeat="template in templates | filter:editing_task.title">
                                    <a role="menuitem" tabindex="-1" href="#" ng-bind="template.title" ng-click="choose_task_template(template)"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txt_TaskDescription">Task Description:</label>
                        <textarea rows="5" class="form-control" name="description" ng-model="editing_task.description" id="txt_TaskDescription" placeholder="Describe your new task..."></textarea>
                    </div>
                    <div class="form-group">
                        <label for="txt_DueDate">Due Date:</label>
                        <quick-datepicker ng-model="editing_task.due_on_js" id="txt_DueDate" disable-timepicker="true" required></quick-datepicker>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-8">
                            <select name="assigned_to" ng-model="editing_task.assigned_to" class="form-control" required>
                                <option value="">-- Assign Task To --</option>
                                <option ng-repeat="user in users" value="{{user.id}}">{{user.fname}}&nbsp;{{user.lname}}</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-primary btn-block" ng-disabled="form_edit_task.$invalid" ng-click="save_task(editing_task)"><i class="fa fa-plus-o"></i>&nbsp;<span ng-bind="label_bt_edit_task">Add New Task</span></button>
                        </div>
                    </div>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->