<div class="modal fade bs-modal-sm" id="modal_delete_campaign" tabindex="-1" role="dialog" aria-labelledby="label_modal_delete_campaign" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="label_modal_delete_campaign">Delete this Campaign?</h4>
            </div>
            <div class="modal-footer" style="margin-top: 0; border-top: 0;">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="delete_campaign(current)">Delete</button>
            </div>
        </div>
    </div>
</div>