<div class="modal fade" id="modal_create_set" tabindex="-1" role="dialog" aria-labelledby="label_modal_create_set" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" style="width: 500px;">
        <div class="modal-content">
            <form name="form_create_set" class="form-horizontal" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="label_modal_create_set">Save Month as Template Set</h4>
                </div>
                <div class="modal-body" style="padding-left: 35px; padding-right: 35px; padding-bottom: 0;">
                    <div class="form-group">
                        <label for="txt_SetName">Name this set:</label>
                        <input type="text" class="form-control" name="name" ng-model="set.name" id="txt_SetName" placeholder="Example: 'New Customer - First Month'" maxlength="128" required />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-block" ng-disabled="form_create_set.$invalid" ng-click="save_set()"><i class="fa fa-plus-o"></i>&nbsp;Save Month as Template</button>
                </div>
            </form>
        </div>
    </div>
</div>