<!-- Add Entry Modal -->
<div class="modal fade" id="modal_complete_task" tabindex="-1" role="dialog" aria-labelledby="label_modal_complete_task" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" style="width: 500px;">
        <div class="modal-content">
            <form name="form_edit_task" class="form-horizontal" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="label_modal_complete_task">Complete Task</h4>
                </div>
                <div class="modal-body" style="padding-left: 35px; padding-right: 35px; padding-bottom: 0;">
                    <div class="form-group">
                        <label for="txt_TaskCompletion">Add a note about this task completion?</label>
                        <textarea rows="5" class="form-control" name="description" ng-model="editing_task.completion_msg" id="txt_TaskCompletion" placeholder="Describe your work..."></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary btn-block" ng-disabled="form_edit_task.$invalid" ng-click="toggle_task(editing_task)"><i class="fa fa-plus-o"></i>&nbsp;Complete Task</button>
                        </div>
                    </div>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->