<!-- Add Entry Modal -->
<div class="modal fade" id="modal_edit_campaign" tabindex="-1" role="dialog" aria-labelledby="label_modal_edit_campaign" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" style="width: 500px;">
        <div class="modal-content">
            <form name="form_edit_campaign" class="form-horizontal" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="label_modal_edit_campaign" ng-bind="label_modal_edit_campaign">Add New Campaign</h4>
                </div>
                <div class="modal-body" style="padding-left: 35px; padding-right: 35px; padding-bottom: 0;">
                    <div class="form-group">
                        <select name="company" ng-model="new_campaign.company_id" class="form-control" ng-disabled="" required>
                            <option value="">-- Choose Client --</option>
                            <option ng-repeat="company in companies" value="{{company.id}}">{{company.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="txt_CampaignName">Campaign Name:</label>
                        <input type="text" class="form-control" name="name" ng-model="new_campaign.name" id="txt_CampaignName" placeholder="Name your new task" />
                    </div>
                    <div class="form-group">
                        <label for="txt_StartDate">Start Date:</label>
                        <quick-datepicker ng-model="new_campaign.start_at_js" id="txt_StartDate" disable-timepicker="true" required></quick-datepicker>
                    </div>
                    <!--<div class="form-group">
                        <label for="txt_EndDate">End Date:</label>
                        <datepicker ng-model="new_campaign.stop_at" id="txt_EndDate" disable-timepicker="true" date-filter="filterDates" required></datepicker>
                    </div>-->

                    <div class="form-group">
                        <label for="txt_Contact">Contact Name:</label>
                        <input type="text" class="form-control" name="contact" ng-model="new_campaign.override_contact" id="txt_Contact" placeholder="Defaults to company contact" />
                    </div>
                    <div class="form-group">
                        <label for="txt_Email">Contact Email:</label>
                        <input type="text" class="form-control" name="name" ng-model="new_campaign.override_email" id="txt_Email" placeholder="Defaults to company email" />
                    </div>
                    <div class="form-group">
                        <label for="txt_Phone">Contact Phone:</label>
                        <input type="text" class="form-control" name="name" ng-model="new_campaign.override_phone" id="txt_Phone" placeholder="Defaults to company phone" />
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-block" ng-disabled="form_edit_campaign.$invalid" ng-click="save_campaign(new_campaign)"><i class="fa fa-plus-o"></i>&nbsp;<span ng-bind="label_bt_edit_campaign">Add New Campaign</span></button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->