<div class="modal fade" id="modal_add_months" tabindex="-1" role="dialog" aria-labelledby="label_modal_add_months" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" style="width: 500px;">
        <div class="modal-content">
            <form name="form_add_months" class="form-horizontal" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="label_modal_add_months">Add Months to Timeline</h4>
                </div>
                <div class="modal-body" style="padding-left: 35px; padding-right: 35px; padding-bottom: 0;">
                    <div class="form-group">
                        <label for="txt_MonthsToAdd">Months to Add:</label>
                        <input type="number" class="form-control" name="months_to_add" ng-model="months_to_add" id="txt_MonthsToAdd" placeholder="Example: '3'" min="1" max="12" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-block" ng-disabled="form_add_months.$invalid" ng-click="add_months()"><i class="fa fa-plus-o"></i>&nbsp;Add Months to Timeline</button>
                </div>
            </form>
        </div>
    </div>
</div>