<% include ../common/header %>
<% include ../common/navbar %>

<div class="container" id="body-container">

    <% include ../common/sidebar %>

    <div class="main-container" ng-controller="CampaignsController">

        <% include ../common/flash_message %>

        <div class="row">
            <div class="col-sm-3 item-list" id="left-cont" fullheight ng-cloak>
                <div class="el-head" ng-class="{ 'ob_target': ob.step == 1 && !campaigns.length && !showing_modal }">
                    <% if (session.user && (session.user.type == 0 || session.user.type == 1)) { %>
                    <a href="#modal_edit_campaign" class="btn btn-primary btn-add btn-sm" role="button" data-toggle="modal" ng-click="add_campaign()"><i class="fa fa-plus"></i>&nbsp;Add New</a>
                    <% } %>
                    <h4>CAMPAIGNS</h4>
                </div>
                <div id="left-scroll" class="content" style="overflow: hidden; position:relative; height: {{ target_height }}px; padding-bottom: 10px;">
                    <a class="el" href="/campaigns/#/{{campaign.id}}" ng-repeat="campaign in campaigns | orderBy:['status', 'company_name', 'name']" ng-class="{ 'active': current.id == campaign.id, 'inactive': campaign.status == 2 }" style="height: 50px; display: block;">
                        <div
                            style="position: absolute; z-index: 50; height: 50px; top: 0; left: 0; width: {{campaign.blocks[campaign.active_month].percent_done}}%;"
                            ng-class="{
                                'taskpr-green': !campaign.has_overdue && campaign.blocks[campaign.active_month] && campaign.blocks[campaign.active_month].percent_done >= 80,
                                'taskpr-normal': !campaign.has_overdue && campaign.blocks[campaign.active_month] && campaign.blocks[campaign.active_month].percent_done > 45 && campaign.blocks[campaign.active_month].percent_done < 80,
                                'taskpr-yellow': !campaign.has_overdue && campaign.blocks[campaign.active_month] && campaign.blocks[campaign.active_month].percent_done >= 25 && campaign.blocks[campaign.active_month].percent_done <= 45,
                                'taskpr-red': campaign.has_overdue || (campaign.blocks[campaign.active_month] && campaign.blocks[campaign.active_month].percent_done < 25)
                            }"
                        >&nbsp;</div>
                        <div style="position: absolute; height: 50px; top: 0; left: 0; width: 100%; display: table-cell;">
                            <i class="fa fa-file-text fa-2x btn-edit text-darkgrey" ng-class="{ 'text-danger': campaign.unviewed }"></i>
                            <div style="padding-top: 10px; padding-bottom: 10px; padding-left: 4px;">
                                <div style="width: 40px;line-height: 30px; float: left;">
                                    <strong ng-class="{
                                        'text-danger': campaign.blocks_with_tasks < campaign.total_months - 1,
                                        'text-warning': campaign.blocks_with_tasks == campaign.total_months - 1,
                                        'text-success': campaign.blocks_with_tasks == campaign.total_months
                                    }">
                                        &nbsp<span ng-bind="(campaign.blocks_with_tasks >= 0) ? campaign.blocks_with_tasks : 0"></span>/<span ng-bind="campaign.total_months"></span>
                                    </strong>
                                </div>
                                <span style="height: 30px; max-height: 30px; overflow: hidden; display: block; text-overflow: ellipsis; padding-right: 50px; color: white;">
                                    <span ng-bind="company_indexes[campaign.company_id].name" style="line-height: 30px;"></span>
                                    <span ng-if="campaign.name">-</span>&nbsp;<span ng-bind="campaign.name" style="line-height: 30px;"></span>
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-sm-6" id="middle-cont" heighttarget>
                <div ng-show="current" ng-cloak fullheight>
                    <h4 class="client-profile-header">CAMPAIGN OVERVIEW</h4>
                    <div id="cscroll" style="overflow: hidden; position:relative; height: {{ target_height }}px; padding-bottom: 10px;">
                        <div class="row">
                            <div class="col-md-4" style="min-height: 88px;">
                                <img class="img-responsive" src="{{ company_indexes[current.company_id].logo || 'images/logo-placeholder.jpg' }}" alt="logo" style="max-height: 88px; margin:auto;" />
                            </div>
                            <div class="col-md-4">
                                <div class="line-height22">
                                    <% if (session.user && (session.user.type == 0 || session.user.type == 1)) { %>
                                    <a href="/clients/#/{{current.company_id}}" class="head" ng-bind="company_indexes[current.company_id].name"></a>
                                    <% } else { %>
                                    <span class="head" ng-bind="company_indexes[current.company_id].name"></span>
                                    <% } %>
                                </div>
                                <div class="line-height22"><a href="{{company_indexes[current.company_id].website}}" ng-bind="company_indexes[current.company_id].website" target="_blank"></a></div>
                                <div class="line-height22">Start Date: <span ng-bind="current.start_at | ts_to_date"></span></div>
                                <div class="line-height22">
                                    Status:&nbsp;
                                <span ng-if="current.status == 1">
                                    <strong class="text-success">Active</strong>
                                    <a href="#toggle_paused" ng-click="toggle_campaign_status()" class="text-danger fa fa-pause"></a>
                                </span>
                                <span ng-if="current.status == 2">
                                    <strong class="text-danger">Paused</strong>
                                    <a href="#toggle_active" ng-click="toggle_campaign_status()" class="text-success fa fa-play"></a>
                                </span>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="line-height22">Contact:
                                    <span ng-if="!current.override_contact" ng-bind="company_indexes[current.company_id].contact"></span>
                                    <span ng-if="current.override_contact" ng-bind="current.override_contact"></span>
                                </div>
                                <div class="line-height22">Phone:
                                    <span ng-if="!current.override_phone" ng-bind="company_indexes[current.company_id].phone"></span>
                                    <span ng-if="current.override_phone" ng-bind="current.override_phone"></span>
                                </div>
                                <div class="line-height22">Email:
                                    <a href="mailto:{{company_indexes[current.company_id].email}}" ng-if="!current.override_email" ng-bind="company_indexes[current.company_id].email"></a>
                                    <a href="mailto:{{current.override_email}}" ng-if="current.override_email" ng-bind="current.override_email"></a>
                                </div>
                                <div class="line-height22">Reporting:
                                    <span ng-if="company_indexes[current.company_id].do_reporting"><a href="#reporting_off" class="fa fa-envelope text-success" ng-click="toggle_reporting()"></a>&nbsp;On</span>
                                    <span ng-if="!company_indexes[current.company_id].do_reporting"><a href="#reporting_on" class="fa fa-envelope-o text-danger" ng-click="toggle_reporting()"></a>&nbsp;Off</span>
                                </div>
                            </div>
                        </div>

                        <wd-timeline campaign="current" cmonth="current_month"></wd-timeline>

                        <!-- Tasks -->
                        <div class="row" style="min-height: 210px; position:relative;">
                            <div ng-class="{ 'ob_target_tasks': (ob.step == 2 || ob.step == 3 || ob.step == 5) && !showing_modal }">
                                <table id="task-table" class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th class="grid-menu-btn text-center" style="width: 30px">
                                            <% if (session.user && (session.user.type == 0 || session.user.type == 1)) { %>
                                            <a href="#"><i class="fa fa-gear font-size18 text-default"></i></a>
                                            <ul class="grid-menu text-left" ng-class="{ 'ob_shown': ob.step == 5 }">
                                                <li>
                                                    <a href="#modal_add_months" role="button" data-toggle="modal"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Add Months</a>
                                                </li>
                                                <li>
                                                    <a href="#modal_edit_task" role="button" ng-click="new_task()" data-toggle="modal"><i class="fa fa-tasks"></i>&nbsp;&nbsp;Add a Task</a>
                                                </li>
                                                <li ng-if="current.blocks[current_month - 1].tasks.length">
                                                    <a href="#modal_create_set" role="button" data-toggle="modal"><i class="fa fa-save"></i>&nbsp;&nbsp;Save as Template</a>
                                                </li>
                                                <li>
                                                    <a href="#modal_load_month" role="button" data-toggle="modal"><i class="fa fa-upload"></i>&nbsp;&nbsp;Load from Template</a>
                                                </li>
                                                <li>
                                                    <a href="#modal_edit_campaign" role="button" ng-click="edit_campaign(current)" data-toggle="modal"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit Campaign</a>
                                                </li>
                                                <li>
                                                    <a href="#modal_delete_campaign" role="button" data-toggle="modal"><i class="fa fa-trash-o"></i>&nbsp;&nbsp;Delete Campaign</a>
                                                </li>
                                            </ul>
                                            <% } %>
                                        </th>
                                        <th>
                                            <span ng-bind="company_indexes[current.company_id].name"></span> Timeline: <span class="green">Month <span ng-bind="(current_month >= 1) ? current_month : 1"></span> Tasks</span>
                                        </th>
                                        <th style="width: 220px">Assigned To:</th>
                                        <th class="grid-menu-btn" style="width: 70px">
                                            <!--<a href="#" class="btn timeline-btn btn-center"></a>-->
                                        </th>
                                    </tr>
                                    </thead>
                                    <tr ng-repeat="task in current.blocks[current_month - 1].tasks | orderBy:['status', 'due_on']" ng-cloak class="task-entry">
                                        <td class="text-center">
                                            <input type="checkbox" ng-click="complete_task(task, $event)" ng-checked="task.status == 3" />
                                        </td>
                                        <td>
                                            <span ng-if="task.status == 3" class="label label-success">COMPLETED</span>
                                            <span ng-if="task.status == 2" class="label label-info">IN PROGRESS</span>
                                            <span ng-if="task.is_overdue && task.status != 3" class="label label-danger"><i class="fa fa-warning"></i>&nbsp;PAST DUE</span>
                                            <a href="javascript: void(0);" ng-bind="task.title" ng-click="task.show_info = !task.show_info" onclick="return false;"></a>
                                            <div ng-if="task.show_info">
                                                <h6><strong>Due: <span ng-bind="task.due_on | ts_to_date"></span></strong></h6>
                                                <p ng-if="task.description" ng-bind="task.description" class="show-linebreaks"></p>
                                                <div ng-if="task.status == 3 && task.completion_msg">
                                                    <h6><strong>Completion Message</strong></h6>
                                                    <p ng-bind="task.completion_msg" class="show-linebreaks"></p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span ng-bind="user_indexes[task.assigned_to].fname"></span>&nbsp;<span ng-bind="user_indexes[task.assigned_to].lname"></span>
                                        </td>
                                        <td class="text-center">
                                            <% if (session.user && (session.user.type == 0 || session.user.type == 1)) { %>
                                            <a class="fa fa-pencil font-size20 text-darkgrey" href="#modal_edit_task" ng-click="edit_task(task)" role="button" data-toggle="modal"></a>
                                            <a class="fa fa-trash-o font-size20 text-darkgrey" href="#modal_delete_task" ng-click="select_task(task)" role="button" data-toggle="modal"></a>
                                            <% } %>
                                        </td>
                                    </tr>
                                    <tr ng-if="!current.blocks[current_month - 1].tasks.length" class="text-center" ng-cloak>
                                        <td colspan="4" class="text-center">
                                            <br />
                                            No Tasks Yet
                                            <br />&nbsp;
                                        </td>
                                    </tr>
                                </table>
                                <div class="row" style="height: 25px;">
                                    <div class="col-sm-6">
                                        <% if (session.user && (session.user.type == 0 || session.user.type == 1)) { %>
                                        <a id="add_new_tasks" href="#modal_edit_task" class="btn btn-primary btn-block" ng-click="new_task()" role="button" data-toggle="modal" style="posi tion: absolute; rig ht: 15px;">
                                            Add New Task to Month
                                        </a>
                                        <% } %>
                                    </div>
                                    <div class="col-sm-6">
                                        <a id="add_new_notes" href="javascript: void(0);" class="btn btn-default btn-block" role="button" ng-click="add_note()" data-toggle="modal">
                                            Add Campaign Note
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row row-nomargin">
                            <div class="col-sm-5 activity" id="latest_activity">
                                <wd-activity campaign="current.id"></wd-activity>
                            </div>
                            <div class="col-sm-7 activity" id="latest_notes" ng-class="{ 'ob_target_notes': ob.step == 4 }">
                                <h4>Client Notes</h4>
                                <ul>
                                    <li ng-repeat="item in current.notes | limitTo:10 | created_sort">
                                        <div class="overflow" style="position: relative;">
                                            <i class="fa fa-file-text text-lightgrey notes-icon task-icon fa-2x" ng-class="{ 'text-danger': !item.viewed }"></i>
                                            <a href="#modal_delete_note" class="fa fa-trash-o fa-2x notes-icon delete-note" ng-click="select_note(item)" role="button" data-toggle="modal"></a>
                                            <p>
                                                <span ng-bind="item.created_at | dt_to_date"></span>&nbsp;
                                                <span ng-bind="user_indexes[item.created_by].fname"></span>&nbsp;<span ng-bind="user_indexes[item.created_by].lname"></span> Wrote:<br />
                                                <span ng-bind="item.note" style="white-space: pre-line;"></span> <a href="javascript: void(0);" ng-click="edit_note(item)" class="fa fa-pencil edit-note" role="button" data-toggle="modal"></a>
                                            </p>
                                        </div>
                                    </li>
                                    <li ng-if="current.notes.length <= 0">
                                        <div class="overflow">
                                            <p class="text-center">No Notes</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                </div>
                <div ng-show="!current && !doing_init" ng-cloak>
                    <h4 class="client-profile-header">CLIENT PROFILE</h4>
                    <br />&nbsp;
                    <div class="text-center">
                        <h3>No campaigns created yet</h3>
                        <br />
                        <div>
                            <a href="#modal_edit_campaign" class="btn btn-primary" role="button" data-toggle="modal"><i class="fa fa-plus"></i>&nbsp;Create New Campaign</a>
                        </div>
                    </div>
                </div>
                <div ng-show="doing_init" ng-cloak>
                    <div class="text-center">
                        <br />&nbsp;
                        <br />&nbsp;
                        <br />&nbsp;
                        <div>
                            <i class="fa fa-refresh fa-spin" style="font-size: 50px;"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3" id="right-cont" fullheight>
                <wd-workwall></wd-workwall>
            </div>
        </div>

        <div id="ob_step_1" ng-show="ob_active && ob.step == 1" ng-cloak class="prehide" ng-class="{ 'prehide': doing_init }">
            <div class="modal" tabindex="-1" style="display: block;">
                <div class="modal-dialog" style="width: 500px;">
                    <div class="modal-content">
                        <form name="form_ob1" class="form-horizontal" role="form">
                            <div class="modal-header">
                                <h4 class="modal-title" id="label_modal_create_set">Creating your first campaign:</h4>
                            </div>
                            <div class="modal-body" style="padding-left: 35px; padding-right: 35px; padding-bottom: 0;">
                                <div class="form-group">
                                    <p>
                                        Each campaign is a collection of tasks planned over a timeline. For clients with more then one project, use multiple campaigns to represent each project.
                                    </p>
                                    <strong>To continue, create your first campaign.</strong>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-8">
                                        <p class="text-left"></p>
                                    </div>
                                    <!--<div class="col-md-4">
                                        <button type="button" class="btn btn-primary btn-block" ng-disabled="form_ob1.$invalid || !campaigns.length" ng-click="progress_ob(2)"><i class="fa fa-plus-o"></i>&nbsp;Next</button>
                                    </div>-->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="ob_step_2" ng-show="ob_active && ob.step == 2" ng-cloak class="prehide" ng-class="{ 'prehide': doing_init }">
            <div class="modal" tabindex="-1" style="display: block;">
                <div class="modal-dialog" style="width: 500px;">
                    <div class="modal-content">
                        <form name="form_ob2" class="form-horizontal" role="form">
                            <div class="modal-header">
                                <h4 class="modal-title" id="label_modal_create_set">Adding tasks to a campaign:</h4>
                            </div>
                            <div class="modal-body" style="padding-left: 35px; padding-right: 35px; padding-bottom: 0;">
                                <div class="form-group">
                                    <p>
                                        <strong>Great! You've got a campaign.</strong>
                                    </p>
                                    <p>
                                        Now you can add tasks to your campaign. Tasks are the goals you want to accomplish during this time period.
                                    </p>
                                    <strong>To continue, add a task to your campaign.</strong>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-8">
                                        <p class="text-left"></p>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-primary btn-block" ng-if="current.blocks[current_month - 1].tasks.length >= 1" ng-click="progress_ob(3)">Skip</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="ob_step_3" ng-show="ob_active && ob.step == 3" ng-cloak class="prehide" ng-class="{ 'prehide': doing_init }">
            <div class="modal" tabindex="-1" style="display: block;">
                <div class="modal-dialog" style="width: 500px;">
                    <div class="modal-content">
                        <form name="form_ob1" class="form-horizontal" role="form">
                            <div class="modal-header">
                                <h4 class="modal-title" id="label_modal_create_set">Managing your tasks:</h4>
                            </div>
                            <div class="modal-body" style="padding-left: 35px; padding-right: 35px; padding-bottom: 0;">
                                <div class="form-group">
                                    <p>
                                        <strong>Now we've got some tasks to do!</strong>
                                    </p>
                                    <p>
                                        As you work through the tasks, mark their status by clicking the checkbox. If you're completing a task, consider leaving a message letting others know what was done.
                                    </p>
                                    <strong>To continue, toggle any task.</strong>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-8">
                                        <p class="text-left"></p>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-primary btn-block" ng-click="progress_ob(4)">Skip</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="ob_step_4" ng-show="ob_active && ob.step == 4" ng-cloak class="prehide" ng-class="{ 'prehide': doing_init }">
            <div class="modal" tabindex="-1" style="display: block;">
                <div class="modal-dialog" style="width: 500px;">
                    <div class="modal-content">
                        <form name="form_ob4" class="form-horizontal" role="form">
                            <div class="modal-header">
                                <h4 class="modal-title" id="label_modal_create_set">Leaving notes for your co-workers</h4>
                            </div>
                            <div class="modal-body" style="padding-left: 35px; padding-right: 35px; padding-bottom: 0;">
                                <div class="form-group">
                                    <p>
                                        <strong>Now lets communicate with co-workers.</strong>
                                    </p>
                                    <p>
                                        Notes allow you to store important information for other users to read. Clicking the 'Add Campaign Note' button below would add a note to the campaign.
                                    </p>
                                    <strong>Click 'Next' to continue.</strong>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-8">
                                        <p class="text-left"></p>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-primary btn-block" ng-disabled="form_ob4.$invalid" ng-click="progress_ob(5)">&nbsp;Next</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="ob_step_5" ng-show="ob_active && ob.step == 5" ng-cloak class="prehide" ng-class="{ 'prehide': doing_init }">
            <div class="modal" tabindex="-1" style="display: block;">
                <div class="modal-dialog" style="width: 500px;">
                    <div class="modal-content">
                        <form name="form_ob5" class="form-horizontal" role="form">
                            <div class="modal-header">
                                <h4 class="modal-title" id="label_modal_create_set">Managing your campaign:</h4>
                            </div>
                            <div class="modal-body" style="padding-left: 35px; padding-right: 35px; padding-bottom: 0;">
                                <div class="form-group">
                                    <p>
                                        <strong>Perfect! You've mastered the basics.</strong>
                                    </p>
                                    <p>
                                        The gear menu shown below holds other tools to help manage your campaign. You can save sets of tasks as a template, or load templates to quickly recreate a common set of tasks.
                                    </p>
                                    <strong>Click 'Next' to continue.</strong>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-8">
                                        <p class="text-left"></p>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-primary btn-block" ng-disabled="form_ob5.$invalid" ng-click="progress_ob(6)">&nbsp;Next</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="ob_step_6" ng-show="ob_active && ob.step == 6" ng-cloak class="prehide" ng-class="{ 'prehide': doing_init }">
            <div class="modal" tabindex="-1" style="display: block;">
                <div class="modal-dialog" style="width: 500px;">
                    <div class="modal-content">
                        <form name="form_ob6" class="form-horizontal" role="form">
                            <div class="modal-header">
                                <h4 class="modal-title">That's It!</h4>
                            </div>
                            <div class="modal-body" style="padding-left: 35px; padding-right: 35px; padding-bottom: 0;">
                                <div class="form-group">
                                    <p>
                                        Time to get going on your tasks!
                                    </p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-8">
                                        <p class="text-left"></p>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-primary btn-block" ng-disabled="form_ob6.$invalid" ng-click="progress_ob(7)">&nbsp;Okay!</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <% include modal_edit_task %>
        <% include modal_edit_campaign %>
        <% include modal_delete_task %>
        <% include modal_delete_note %>
        <% include modal_complete_task %>
        <% include modal_delete_campaign %>
        <% include modal_add_note %>
        <% include modal_add_months %>
        <% include modal_create_set %>
        <% include modal_load_month %>

        <div id="ob_blackout" ng-show="ob_active" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,0.7); z-index: 1000;" ng-cloak></div>

    </div>
</div>

<div style="clear: both;"></div>

<% include ../common/footer %>