.quickdate {
  display: inline-block;
  vertical-align: bottom;
  font-size: 15px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.quickdate input,
.quickdate select {
  font-size: 13px;
}
.quickdate-button {
  background: #ffffff;
  color: #333333;
  border: solid 1px #cccccc;
  box-shadow: outset 0 1px 1px rgba(0, 0, 0, 0.075);
  border-radius: 4px;
  padding: 4px 8px;
  display: inline-block;
  text-decoration: none;
}
.quickdate-button:hover {
  text-decoration: underline;
}
.quickdate-button:hover i {
  text-decoration: none;
}
.quickdate-button i {
  padding-right: 4px;
}
.quickdate-popup {
  color: #333333;
  font-size: 15px;
  background-color: #fafafa;
  border: solid 1px #dddddd;
  border-radius: 3px;
  -webkit-box-shadow: 0px 10px 30px rgba(25, 25, 25, 0.92);
  -moz-box-shadow: 0px 10px 30px rgba(25, 25, 25, 0.92);
  box-shadow: 0px 10px 30px rgba(25, 25, 25, 0.92);
}
.quickdate-action-link:visited,
.quickdate-action-link:hover {
  color: #333333;
}
.quickdate-next-month i {
  padding-left: 10px;
}
.quickdate-prev-month i {
  padding-right: 10px;
}
table.quickdate-calendar {
  border: solid 1px #ccc;
  background-color: #ffffff;
}
table.quickdate-calendar th,
table.quickdate-calendar td {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
table.quickdate-calendar td:hover {
  background-color: #e6e6e6;
}
table.quickdate-calendar td.other-month {
  background-color: #dbdbdb;
  color: #808080;
}
table.quickdate-calendar td.other-month:hover {
  background-color: #c7c7c7;
}
table.quickdate-calendar td.disabled-date {
  background-color: inherit;
  color: #ffffff;
}
table.quickdate-calendar td.disabled-date:hover {
  background-color: inherit;
  cursor: default;
}
table.quickdate-calendar td.selected {
  background-color: #b0ccde;
  font-weight: bold;
}
table.quickdate-calendar td.is-today {
  color: #b58922;
  font-weight: bold;
}
table.quickdate-calendar td.is-today.disabled-date {
  color: #929292;
  font-weight: normal;
}
.quickdate-popup-footer {
  margin: 3px 1px 0;
}
.quickdate-clear {
  display: inline-block;
  padding: 2px 4px;
  background-color: #ffffff;
  color: #333333;
  border: solid 1px #cccccc;
  box-shadow: outset 0 1px 1px rgba(0, 0, 0, 0.075);
  border-radius: 4px;
  text-decoration: none;
}
.quickdate-clear:hover {
  background-color: #f2f2f2;
}

.quickdate {
  display: inline-block;
  position: relative;
}
.quickdate-button div,
.quickdate-action-link div {
  display: inline;
}
.quickdate-popup {
  z-index: 10;
  background-color: #fff;
  border: solid 1px #000;
  text-align: center;
  width: 250px;
  display: none;
  position: absolute;
  padding: 5px;
}
.quickdate-popup.open {
  display: block;
}
.quickdate-close {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #333;
  font-size: 110%;
  margin-top: -6px;
  text-decoration: none;
}
.quickdate-close:hover {
  text-decoration: underline;
}
.quickdate-close:hover,
.quickdate-close:visited {
  color: #333;
}
.quickdate-calendar-header {
  display: block;
  padding: 2px 0;
  margin-bottom: 5px;
  text-align: center;
}
.quickdate-month {
  display: inline-block;
}
a.quickdate-prev-month {
  float: left;
}
a.quickdate-next-month {
  float: right;
}
.quickdate-text-inputs {
  text-align: left;
  margin-bottom: 5px;
}
.quickdate-input-wrapper {
  width: 48%;
  display: inline-block;
}
input.quickdate-date-input,
input.quickdate-time-input {
  width: 100px;
  margin: 0;
  height: auto;
  padding: 2px 3px;
}
table.quickdate-calendar {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-top: 5px;
}
table.quickdate-calendar th,
table.quickdate-calendar td {
  padding: 5px;
}
table.quickdate-calendar td:hover {
  cursor: pointer;
}
.quickdate-popup-footer {
  text-align: right;
  display: block;
}
.quickdate input.ng-invalid {
  border: 1px solid #dd3b30;
}
.quickdate input.ng-invalid:focus {
  outline-color: #dd3b30;
}

.quickdate {
  display: inline-block;
  vertical-align: bottom;
  font-size: 15px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.quickdate input,
.quickdate select {
  font-size: 13px;
}
.quickdate-button {
  background: #ffffff;
  color: #333333;
  border: solid 1px #cccccc;
  box-shadow: outset 0 1px 1px rgba(0, 0, 0, 0.075);
  border-radius: 4px;
  padding: 4px 8px;
  display: inline-block;
  text-decoration: none;
}
.quickdate-button:hover {
  text-decoration: underline;
}
.quickdate-button:hover i {
  text-decoration: none;
}
.quickdate-button i {
  padding-right: 4px;
}
.quickdate-popup {
  color: #333333;
  font-size: 15px;
  background-color: #fafafa;
  border: solid 1px #dddddd;
  border-radius: 3px;
  -webkit-box-shadow: 0px 10px 30px rgba(25, 25, 25, 0.92);
  -moz-box-shadow: 0px 10px 30px rgba(25, 25, 25, 0.92);
  box-shadow: 0px 10px 30px rgba(25, 25, 25, 0.92);
}
.quickdate-action-link:visited,
.quickdate-action-link:hover {
  color: #333333;
}
.quickdate-next-month i {
  padding-left: 10px;
}
.quickdate-prev-month i {
  padding-right: 10px;
}
table.quickdate-calendar {
  border: solid 1px #ccc;
  background-color: #ffffff;
}
table.quickdate-calendar th,
table.quickdate-calendar td {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
table.quickdate-calendar td:hover {
  background-color: #e6e6e6;
}
table.quickdate-calendar td.other-month {
  background-color: #dbdbdb;
  color: #808080;
}
table.quickdate-calendar td.other-month:hover {
  background-color: #c7c7c7;
}
table.quickdate-calendar td.disabled-date {
  background-color: inherit;
  color: #ffffff;
}
table.quickdate-calendar td.disabled-date:hover {
  background-color: inherit;
  cursor: default;
}
table.quickdate-calendar td.selected {
  background-color: #b0ccde;
  font-weight: bold;
}
table.quickdate-calendar td.is-today {
  color: #b58922;
  font-weight: bold;
}
table.quickdate-calendar td.is-today.disabled-date {
  color: #929292;
  font-weight: normal;
}
.quickdate-popup-footer {
  margin: 3px 1px 0;
}
.quickdate-clear {
  display: inline-block;
  padding: 2px 4px;
  background-color: #ffffff;
  color: #333333;
  border: solid 1px #cccccc;
  box-shadow: outset 0 1px 1px rgba(0, 0, 0, 0.075);
  border-radius: 4px;
  text-decoration: none;
}
.quickdate-clear:hover {
  background-color: #f2f2f2;
}

.quickdate {
  display: inline-block;
  position: relative;
}
.quickdate-button div,
.quickdate-action-link div {
  display: inline;
}
.quickdate-popup {
  z-index: 10;
  background-color: #fff;
  border: solid 1px #000;
  text-align: center;
  width: 250px;
  display: none;
  position: absolute;
  padding: 5px;
}
.quickdate-popup.open {
  display: block;
}
.quickdate-close {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #333;
  font-size: 110%;
  margin-top: -6px;
  text-decoration: none;
}
.quickdate-close:hover {
  text-decoration: underline;
}
.quickdate-close:hover,
.quickdate-close:visited {
  color: #333;
}
.quickdate-calendar-header {
  display: block;
  padding: 2px 0;
  margin-bottom: 5px;
  text-align: center;
}
.quickdate-month {
  display: inline-block;
}
a.quickdate-prev-month {
  float: left;
}
a.quickdate-next-month {
  float: right;
}
.quickdate-text-inputs {
  text-align: left;
  margin-bottom: 5px;
}
.quickdate-input-wrapper {
  width: 48%;
  display: inline-block;
}
input.quickdate-date-input,
input.quickdate-time-input {
  width: 100px;
  margin: 0;
  height: auto;
  padding: 2px 3px;
}
table.quickdate-calendar {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-top: 5px;
}
table.quickdate-calendar th,
table.quickdate-calendar td {
  padding: 5px;
}
table.quickdate-calendar td:hover {
  cursor: pointer;
}
.quickdate-popup-footer {
  text-align: right;
  display: block;
}
.quickdate input.ng-invalid {
  border: 1px solid #dd3b30;
}
.quickdate input.ng-invalid:focus {
  outline-color: #dd3b30;
}

body { padding-top: 50px; }

#header { background-color: #000000; }
    #header .navbar { margin: 0; background: none; background-color: #000000; border: none; color: white; }
    .logo-text { font-weight: bolder; }

a.fa:hover { text-decoration: none; }

li.active { background-color: #eeeeee; }

.mbox {
    height: 90px; width: 140px; display: inline-block; list-style: none; background: #333333; color: white; margin-right: 0; padding: 8px;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
    background: #333333;
    cursor: pointer;
    margin-top: 10px;
    z-index: 90;
    border-left: 1px solid #666666;
}
.mbox.active {
    -webkit-transform: scale(1.2,1.2);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1.2,1.2);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
    z-index: 99;
    background: #444444;
    cursor: auto;
    margin-top: 0px;
    margin-left: 13px;
    border-left: none;
}
.mbox.active-right {
    margin-left: 14px;
}

/* **Just Playing Around** .latest_activity { position: relative; }
    .latest_activity li {
        -webkit-transition: all 0.3s cubic-bezier(0.000, 0.000, 0.580, 1.000);
        -moz-transition: all 0.3s cubic-bezier(0.000, 0.000, 0.580, 1.000);
        -o-transition: all 0.3s cubic-bezier(0.000, 0.000, 0.580, 1.000);
        transition: all 0.3s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    }
    .latest_activity li.ng-enter, .latest_activity li.ng-leave.ng-leave-active {
        height: 0;
        opacity: 0;
    }
    .latest_activity li.ng-leave, .latest_activity li.ng-enter.ng-enter-active {
        height: auto;
        opacity: 1;
    }*/

.inactive { opacity: 0.3; }

#notifications-container {
    background-color: #3e3e40;
    width: 283px;
    position: absolute;
    z-index: 9999;
    top: 70px;
    right: 30px;
    max-height: 300px;
    overflow: hidden;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}
#notifications-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#notifications-container li {
    border-top: 1px solid #636366;
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 5px 10px;
}
#notifications-container li i {
    float: left;
    margin-top: 3px;
}
#notifications-container li span {
    margin-left: 23px;
    display: block;
}
#notifications-container li a {
    display: block;
    width: 100%;
    color: lightgrey;
    font-weight: normal;
}
#notifications-container li a:hover {
    text-decoration: none;
}
#notifications-container li:hover {
    background-color: #4e4e49;
}

.taskpr-green {
    background-color: rgba(0,255,0,0.10);
}

.taskpr-red {
    background-color: rgba(255,0,0,0.10);
}

.taskpr-normal {
    background-color: rgba(0,0,0,0.15);
}

.taskpr-yellow {
    background-color: rgba(255,238,0,0.10);
}

.prehide { display: none; }
/*@font-face {
    font-family: 'DINPro';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/dinproregularhinted.eot');
    src: url('/fonts/dinproregularhinted.eot?#iefix') format('embedded-opentype'), url('/fonts/dinproregularhinted.svg#dinproregularhinted') format('svg'), url('/fonts/dinproregularhinted.woff') format('woff'), url('/fonts/dinproregularhinted.ttf') format('truetype');
}

@font-face {
    font-family: 'DINPro';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/dinpromediumhint.eot');
    src: url('/fonts/dinpromediumhint.eot?#iefix') format('embedded-opentype'), url('/fonts/dinpromediumhint.woff') format('woff'), url('/fonts/dinpromediumhint.svg#dinpromediumhint') format('svg'), url('/fonts/dinpromediumhint.ttf') format('truetype');
}

@font-face {
    font-family: 'DINPro';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/dinproboldhinted.eot');
    src: url('/fonts/dinproboldhinted.eot?#iefix') format('embedded-opentype'), url('/fonts/dinproboldhinted.woff') format('woff'), url('/fonts/dinproboldhinted.svg#dinproboldhinted') format('svg'), url('..//fonts/dinproboldhinted.ttf') format('truetype');
}

@font-face {
    font-family: 'DINPro';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/dinprolighthinted.eot');
    src: url('/fonts/dinprolighthinted.eot?#iefix') format('embedded-opentype'), url('/fonts/dinprolighthinted.woff') format('woff'), url('..//fonts/dinprolighthinted.svg#dinprolighthinted') format('svg'), url('/fonts/dinprolighthinted.ttf') format('truetype');
}*/
body {
    padding:0;
    color:#6f6f73 !important;
    background-color: #ffffff !important;
    font-family:'Open Sans', sans-serif;
}

h4 {
    font-size: 18px;
    line-height: 60px !important;
    margin:0px !important;
    font-weight: bolder;
}
.logo {
    margin-top: 3px;
}

a.fa:hover { text-decoration: none; }

/*Top navigationbar*/
header.navbar {
    height:70px;
    background-color: #3e3e40;
    border:none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: 0px;
}

#body-container {
    width: 100%;
    padding: 0px;
    height:100%;
}
.left-menu {
    float: left;    
    max-width: 190px;
    padding:0px !important;
    width: 70px;
    background: url('/images/bg-left-menu.png') 0 0 repeat-y #4b4b4d;
}

.left-menu .navbar-nav {
    position: relative;
    
    z-index: 100;
    width: 100%;
    overflow: hidden;    
    min-height:550px !important;
    
}
.left-menu .navbar-nav li {
    float: none;
    display: block;
    border-bottom:solid 1px #636366;
    border-left: solid 4px #636366 !important;
    width: 70px;
    overflow: hidden;
}

.left-menu .navbar-nav li a {
    height:50px;    
    font-size: 14px;
    color: #736f71;
    margin:0px;
    padding: 0px;
    white-space: nowrap;
    background:none !important;    
    line-height: 50px;
    font-weight: bold;
    text-shadow: 0 0 1px rgba(0,0,0,0.5);
}
.left-menu .navbar-nav li i {
    margin-right:10px;
    padding: 13px 19px;
    float: left;
    width: 62px;
    max-width: 62px;
}

.left-menu .navbar-nav li a:hover {
    color: #ffffff;    
}
.left-menu .navbar-nav li:hover {
    border-left: solid 4px #A6CE39 !important;
    color: #ffffff;
}
.left-menu .navbar-nav:hover  {
    width: 190px;
    background-color: #4b4b4d;
    z-index: 100001;
}
.left-menu .navbar-nav:hover  li {
    width: 190px;    
}

.left-menu .navbar-nav li a.clients{
    background: url('/images/sprites.png') -272px 0px no-repeat;
}
.left-menu .navbar-nav li a.clients:hover {
    background-position: -272px -38px;
}

.left-menu .navbar-nav li a.tasks{
    background: url('/images/sprites.png') -272px -86px no-repeat;
}
.left-menu .navbar-nav li a.tasks:hover {
    background-position: -272px -128px;
}

.left-menu .navbar-nav li a.settings{
    background: url('/images/sprites.png') -272px -172px no-repeat;
}
.left-menu .navbar-nav li a.settings:hover {
    background-position: -272px -211px;
}

/*Main content*/
.main-container {
    padding:0px !important;
    overflow: hidden;
}
.main-container .row {
    margin:0px;
}

#left-cont {
    background-color: #636366;
    padding: 0px;
    
    overflow: hidden;
        
}
#left-cont h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;    
    color: #cccccc;
    font-size: 18px;
    white-space: nowrap;
    line-height: 50px !important;    
}
#left-cont .content {
    height:auto;
}

#task-left a {
    color: #ffffff ;
    text-decoration: none;
    display: block;
    line-height:38px;
    width: 100%;
    background: url('/images/sprites.png') 100% -272px no-repeat;
}
#task-left a.no-icon {
    background: none;
}
.task-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

}
.task-header {
    color: #3e3e40;
    font-size: 18px;
}
.el-head {
    overflow: hidden;
    border-bottom: solid 1px #4b4b4d;
    padding: 5px 15px;
    border-right: solid 4px #636366;
    text-shadow: 0 0 1px rgba(0,0,0,0.5);
    background-color: #636366;
}
.item-list .el {
    overflow: hidden;
    border-bottom: solid 1px #4b4b4d;
    padding: 5px 15px;
    border-right:solid 4px #636366;
    cursor: pointer;
    text-shadow: 0 0 1px rgba(0,0,0,0.5);
    position: relative;
}
.item-list .el:hover,
.item-list .el.active {
    background-color: #7c7c80;
    border-right:solid 4px #a6ce39;
}
.item-list .el p {
    color: #ffffff;
    font-size: 12px;
    margin:3px 0;
    font-family: 'Open Sans', sans-serif;
}
.item-list .el p.label {
    float: left;
    margin: 3px 10px 3px 0;
    padding-left: 0px !important;
    font-weight: normal;
    font-size: 12px !important;
    padding: 0px;
    width: 105px;
    max-width: 105px;
    overflow: hidden;
}
.item-list .el p.head {
    font-weight: bold;
    font-size: 14px;    
}

/*End left container*/



/*Start middle container*/
#middle-cont {
    background-color: #ffffff;
    padding: 0px;
    margin-top: 0px;
}

.middle-cont p {
    color: #4b4b4d;
    margin: 4px 0;
    font-size: 14px;
}
#middle-cont .head {
    font-weight: bold;
    font-size: 18px;
}
#middle-cont .row {
    margin:15px;
}
/*End middle container*/



.client-profile-header {
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
    font-size: 18px;
    color: #7a7a7a;
    background: #e0e0e0;
    padding-left: 35px;
    line-height: 60px !important;
    text-shadow: 0px 0px 2px rgba(255,255,255,1);
}

#right-cont {
    background-color: #ededed;
    padding: 0px;
}

#right-cont .el {
    overflow: hidden;
    border-top: solid 1px #ffffff;
    padding: 5px 10px;
    text-shadow: 0px 0px 1px rgba(255,255,255,1);
}

#right-cont .el p{
    margin-left: 78px;
}
#right-cont h4 {
    padding-left: 20px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
    line-height: 60px !important;
    text-shadow: 0px 0px 2px rgba(255,255,255,1);
}
/* Grid heading menu Start*/

.grid-menu-btn:hover .grid-menu{
    display: block;
}

.grid-menu {
    padding: 0px;
    position: absolute;
    list-style: none;
    display: none;
    z-index: 1000;
}
.grid-menu li {
    background-color:#575759;    
    border-left:solid 4px #575759;
    padding: 5px 4px;
    margin: 0;
    border-bottom: solid 1px #4B4B4D;
}
.grid-menu li:hover {
    background-color: #7c7c80;
    border-left:solid 4px #a6ce39;
}
.grid-menu li a {    
    color: #ffffff;
    text-decoration: none;
    margin-left: 3px;
    padding-right: 10px;

}

.grid-menu-btn:hover .right-grid-menu, .grid-menu-btn.active .right-grid-menu{
    display: block;
}

.right-grid-menu {
    padding: 0px;
    position: absolute;
    z-index: 100;
    list-style: none;
    display: none;
    background-color: #575759;
    width: 325px;
    right: 15px;
    border-radius: 0px 0px 2px 2px;
    -moz-border-radius: 0px 0px 2px 2px;
    -webkit-border-radius: 0px 0px 2px 2px;
    overflow: hidden;
}
/* Grid heading menu End*/

/*----Utilities classes*/

.overflow {
    overflow: hidden;
}
.padding-15 {
    padding: 15px;
}
 .green {
    color: #a6ce39;    
    margin-left:5px; 
}
.bold {
    font-weight: bold;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}
.delete-link {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.edit-btn-cont {
    float: right;
    width: 100px;
    overflow: hidden;
}
.btn-pause,
.btn-pause:hover,
.btn-pause:focus,
.btn-pause:active,
.btn-pause.active {
    text-decoration: none;
    display: inline-block;
    width: 15px;
    height: 19px;
    background: url('/images/sprites.png') -9px -185px no-repeat;
    margin-bottom:-3px !important;
}
.btn-reporting,
.btn-reporting:hover,
.btn-reporting:focus,
.btn-reporting:active,
.btn-reporting.active {
    text-decoration: none;
    display: inline-block;
    width: 20px;
    height: 19px;
    background: url('/images/sprites.png') -40px -186px no-repeat;
    margin-bottom:-3px !important;
}



.row-nomargin {
    margin: 0px !important;
}
/**Application specific buttons*/
.btn-add {
    text-decoration: none;
    float: right;
    margin:10px 0 10px 0;
    width: 82px;
}
.btn-edit, .btn-delete {
    padding: 0px !important;
    text-decoration: none !important;
    margin: 1px;
    text-shadow: none;
    position: absolute;
    right: 14px;
    top: 11px;
}
.small-text {
    font-size: 12px;
}


.activity-icon, .notes-icon {
    position:absolute;
    margin-top: 5px;
}
.activity p, .notes p {
    margin-left:35px !important;
    margin-top:0px !important;
    color: #636366 !important;
    font-size: 14px !important;
    line-height: 18px !important; 
    margin-bottom: 15px !important;
}

.progress-label {
    color: #A0EB00;
    margin: 0 0;
    font-weight: bold;
    font-size: 17px;
}
.summary-label {
    font-size: 10px;
    color: #AAAAAA; 
    margin-top: 4px;
}

.menu-avatar {
    width: 35px;
    height: 35px;
    border-radius: 17px;
    -moz-border-radius: 17px;
    -webkt-border-radius: 17px;
    margin-right: 10px;
}
.navbar-text {
    margin-top: 18px;
    margin-bottom: 17px;
}
/*.navbar ul {
    float: right;
    list-style: none;
    margin-top:17px;
    padding-left: 0px;
    margin-left:0px;
}*/
/*.navbar ul li {
    display: inline;
    margin:30px 25px  30px 0;    
    font-size: 14px;
    color: #88888c;
    font-family: 'Open Sans', sans-serif;
}*/
.navbar ul li {
    font-size: 15px;
    color: #88888c;
}
.navbar ul li strong {
        color: #ffffff;
        font-weight: bold;
}
.navbar ul li a {
    font-weight: bold;
}
.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: transparent;
}
@media (min-width: 768px) {
    .navbar-nav>li>a {
        padding-top: 20px;
    }
    .nav-icon {
        line-height: 25px !important;
    }
}
.comments {
    color: #ffffff !important;
    font-size: 11px;
    position: absolute;
    top: 1px;
    left:0px;
    display: block;
    width: 18px;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}
.comment {
    padding: 0px !important;
    color: #c5161d !important;
    font-size: 20px !important;
    top:6px !important;
    margin-left:5px;
    margin-right:20px !important;
}
.logout {
    text-decoration: underline;
    line-height: 60px;
    font-weight: bold;
}

.carousel {
    list-style: none;
    list-style-type: none;
    padding: 0px;
    margin:0px;
    overflow: hidden; 
    white-space: nowrap; 
    background: url('/images/bg-carousel.png') 0 0 repeat-x;
}
.carousel li {
    height: 90px;
    width: 140px;
    display: inline-block;
    list-style: none;
    color: #FFF;
    margin-right: 0;
    padding: 7px 12px;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
    background: #3e3e40;
    cursor: pointer;
    margin-top: 10px;
    z-index: 90;
    border-right: 1px solid #666;
    text-shadow: 0 0 1px rgba(0,0,0,0.5);
}

.carousel li.active {
    -webkit-transform: scale(1.2,1.2);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1.2,1.2);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
    z-index: 99;
    background: #636366;
    cursor: auto;
    margin-top: 5px;
    margin-left: 10px;
    border-left: none;
    height:100px;
    position: relative;
}
.carousel li .header {
    font-weight:bold;
    margin-bottom: 0px;
}
.carousel li .monthlabel {
    font-size: 8px;
    margin: 0;
    margin-top: -4px;
    margin-bottom: 3px;
    color: #888 !important;
}
.carousel li.active-right {
    margin-left: 10px;
}
.carousel-cont {
    overflow: hidden;
    height:140px;
    margin:0px !important;
}

.carousel-cont .btn {
    width: 30px;
    height:90px;
    margin:10px 0;
    border-radius: 0px;
    display: block;
    text-decoration: none;
    overflow:hidden;
}
.carousel-cont .btn-left {    
    float: left;
    background:url('/images/sprites.png')  0 -97px no-repeat #3e3e40;
    border-right: 1px solid #666;
}
.carousel-cont .btn-right {
    float: right;
    border-left: 1px solid #666;
    background:url('/images/sprites.png')  -47px -96px no-repeat #3e3e40;
}

/*Progressbar*/
.carousel .progress {
    height:3px !important;
    margin: 1px 0 0 !important;
    background: #252526 !important;
}

/*Green progress bar*/
.carousel .progress-bar-success {
    background-color: #A0EB00 !important;
}
/*TODO*/
.carousel .progress-bar-danger {
    background-color: #A0EB00 !important;
}
/*TODO*/
.carousel .progress-bar-warning {
    background-color: #A0EB00 !important;
}

.wall-img {
    float: left;
    border: solid 5px #ffffff;
}
.add-timeline-btn,
.add-timeline-btn:hover,
.add-timeline-btn:active,
.add-timeline-btn:focus {
    display: block;
    width: 150px;
    text-decoration: none !important;
    margin:10px auto;
    background: url('/images/sprites.png') 0 -78px no-repeat;
    padding-left: 25px; 
    color: #ffffff;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.timeline-btn,
.timeline-btn:focus {
    display: block;
    min-width: 40px !important;
    height:35px !important;
    text-decoration: none !important;    
    background: url('/images/sprites.png') 15px -35px no-repeat !important;
    padding: 10px !important;
    margin: -7px 0 0px !important;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
}

.grid-menu-btn.active .timeline-btn,
.grid-menu-btn.active,
.timeline-btn:hover,
.timeline-btn:active {
    background-color: #575759 !important;
}



/************Bootstrap Components skin****************/


/*Progressbar*/
.progress {
    height:9px !important;
    margin: 8px 0 0 !important;
}

/*Green progress bar*/
.progress-bar-success {
    background-color: #a6ce39 !important;
}
/*Green progress Gray*/
.progress-bar-warning {
    background-color: #adadb3 !important;
}
/*Red progress Gray*/
.progress-bar-danger {
    background-color: #c5161d !important;
}


/**Buttons Skin*/

/*Primary button - green*/
.btn-primary {
    background-color: #a6ce39 !important;
    border:none !important;
    color: #728d27 !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold !important;
    box-shadow: 0px 2px 0px #7e9c2c;
    -moz-box-shadow: 0px 2px 0px #7e9c2c;
    -webkit-box-shadow: 0px 2px 0px #7e9c2c;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    color: #ffffff !important;
}

/*Primary button - green*/
.btn-danger {
    background-color: #d2322d !important;
    border:none !important;
    color: #8C0A06 !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold !important;
    box-shadow: 0px 2px 0px #8C0A06;
    -moz-box-shadow: 0px 2px 0px #8C0A06;
    -webkit-box-shadow: 0px 2px 0px #8C0A06;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active {
    color: #ffffff !important;
}

/*Default button grey*/
.btn-default {
    background-color: #7c7c80 !important;
    border:none !important;
    color: #333333 !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold !important;
    box-shadow: 0px 2px 0px #636366 !important;
    -moz-box-shadow: 0px 2px 0px #636366 !important;
    -webkit-box-shadow: 0px 2px 0px #636366 !important;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
    color: #ffffff !important;
}

.btn-full {
    width: 100%;
}

.text-default {
    color: #736f71;
}
/**TODO*/
.text-warning {}
.text-darkgrey {
    color: #4b4b4d !important;
}
a.text-darkgrey:hover {
    color: #8b8b8d !important;
}
.text-darker-grey {
    color: #3e3e40 !important;
}
.text-lightgrey {
    color: #cccccc;
}
.text-lightergrey {
    color: #d1d2d4 !important;
}
.text-danger {
    color: #a94442 !important;
}
.text-darkred {
    color: #C5161D !important;
}
.text-blue {
    color: #0073b4 !important;
}
.text-white {
    color: #ffffff !important;
}
.font-size20 {
    font-size:20px !important;
}
.font-size18 {
    font-size: 18px !important;
}
.font-size16 {
    font-size: 16px !important;
}
.font-size14 {
    font-size: 14px !important;
}
.line-height24 {
    line-height: 24px;
}
.line-height22 {
    line-height: 22px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.btn-center {
    margin-left:auto !important;
    margin-right:auto !important;
    display: block !important;
}
.btn-no-decoration {
    text-decoration: none;
}
/*Custom Labels*/
.label {
    border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
    font-size: 11px !important;
    padding: 2px 3px !important;
    /*margin:0px 10px;*/
}
/*Red Label*/
.label-danger {
    background-color: #fccac3 !important;
    border: solid 1px #ea5338 !important;
    color: #ea5338 !important;    
}
/*Green Label*/
.label-success {
    background-color: #e3f1ed !important;
    border: solid 1px #6fb5a1 !important;
    color: #6fb5a1 !important;    
}
/*TODO*/
.label-primary {
    background-color: #a1a1a6 !important;
    border: solid 1px #a1a1a6 !important;
    color: #ffffff !important;        
}
.label-info {
    background-color: #C3EBF7;
    border: solid 1px #5bc0de;
    color: #5bc0de;
}
.label-warning {
    background-color: #F7DBB2;
    border: solid 1px #f0ad4e;
    color: #f0ad4e;
}

/*Table*/
.table-bordered thead {
    background-color: #3e3e40 !important;
    color: #ffffff !important;
}
.table-bordered > thead > tr > th {
    border: 0px !important;
    vertical-align: middle !important;
    font-weight: normal;
    font-size: 16px;
}

.table-bordered tr {
    border-top: solid 1px #DDD;
}
.table-bordered tbody tr td {
    vertical-align: middle !important;
    border-right: solid 1px #DDD;
}

.table-bordered input[type="checkbox"] {
    /*display: block;
    margin:10px auto !important;*/
}


/*********Scrollbars***************/
#left-cont .ps-scrollbar-y-rail {
    width: 4px !important;
    background-color: #575759 !important;
    opacity: 1 !important;
    -moz-opacity:1 !important;
    -webkit-opacity:1 !important;
}
#left-cont .ps-scrollbar-y {
    background-color: #3e3e40 !important;
    width: 4px !important;
}

#right-scroll .ps-scrollbar-y-rail {
    width: 4px !important;
    background-color: #ffffff !important;
    opacity: 1 !important;
    -moz-opacity:1 !important;
    -webkit-opacity:1 !important;
}
#right-scroll .ps-scrollbar-y {
    background-color: #d9d9d9 !important;
    width: 4px !important;
}
#right-scroll {
    overflow: hidden;    
}
.content {
    height: auto;
}
/*********Scrollbars***************/

/***************Modal Boxes********************/
.modal-body input, .modal-body textarea {
    color: #3e3e40 !important;
    font-size: 14px;
}
.modal .modal-dialog .modal-content .modal-header {
    padding: 0px !important;
    background-color: #3e3e40;
    height: 50px;
    overflow:hidden;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.modal .modal-dialog .modal-content .modal-header .close {
    padding: 15px;
    border-left:solid 1px #6c6c6e;
    color: #6c6c6e !important;
    text-shadow: none !important;
    -moz-text-shadow: none !important;
    -webkit-text-shadow: none !important;
    opacity: 1 !important;
    -moz-opacity:1 !important;
    -webkit-opacity:1 !important;
}
.modal .modal-dialog .modal-content .modal-header .modal-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;    
    margin-left: 20px !important;
    line-height: 50px !important;
}
.modal .modal-dialog .row {
    margin-right: -15px;
    margin-left: -15px;
}
.modal .modal-dialog .dropdown-menu {
    margin-top:0px;
    border-top:0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 100%;
    box-shadow:0px !important;
    -webkit-box-shadow:0px !important;
    -moz-box-shadow:0px !important;
}
.modal .modal-dialog input[readonly="readonly"] {
    background-color: #ffffff;
}
/***************Modal Boxes********************/

#latest_activity.onboarding-focus { background-color: white; }
#latest_notes.onboarding-focus { background-color: white; }

.btn-group > .dropdown-toggle {
    background-color:#d1d2d4; 
}
.navbar-nav {
    margin:0px !important;
}
.default-anchor {
    text-decoration: underline;
    color: #0073b4 !important;
}
.navbar-right {
    text-shadow: 0 0 1px rgba(0,0,0,0.5);
}
@media all and (max-width: 520px ) {

    .logo {
        float: none;
        
        margin:20px auto;
    }
    
    nav.navbar {
        height: auto;
    }
}
.hidden {
    margin-left: -20000px;
}

.activity ul { padding: 0; margin: 0; list-style: none; }
.activity ul li { padding: 0; margin: 0; list-style: none; }
.right-padding10 { padding-left: 0; padding-right: 10px; }
.no-top-margin { margin-top: 0 !important; }
.no-left-margin { margin-left: 0 !important; }
.el.stdpad p { margin: 0 !important; padding: 10px 10px; }
.btn { text-shadow: none; }

/* Task Items Animations */
/*.task-entry.ng-enter,
.task-entry.ng-leave
{
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.task-entry.ng-enter.ng-enter-active,
.task-entry.ng-leave {
    opacity: 0;
}

.task-entry.ng-leave.ng-leave-active,
.task-entry.ng-enter {
    opacity: 1;
}*/

/* Table Fixes */
.table-bordered {
    border-radius: 4px;
    border-collapse: separate !important;
}
.table-bordered td:first-child, .table-bordered th:first-child {
    border-left: none;
}
.table-bordered th:first-child {
    -moz-border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    border-radius: 4px 0 0 0;
}
.table-bordered th:last-child {
    -moz-border-radius: 0 4px 0 0;
    -webkit-border-radius: 0 4px 0 0;
    border-radius: 0 4px 0 0;
}
.table-bordered th:only-child{
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.table-bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 4px;
    -webkit-border-radius: 0 0 0 4px;
    border-radius: 0 0 0 4px;
}
.table-bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 4px 0;
    -webkit-border-radius: 0 0 4px 0;
    border-radius: 0 0 4px 0;
}
.table-bordered td { background-color: #fafafb; }

/* On Boarding */
.ob_target { z-index: 10001; width: 100%; position: absolute; }
.ob_target_tasks { z-index: 10001; width: 100%; position: absolute; }
.ob_shown { display: block; }
.ob_target_notes { background: white; z-index: 10001; }
.ps-container .ps-scrollbar-x-rail {
    position: absolute; /* please don't change 'position' */
    bottom: 3px; /* there must be 'bottom' for ps-scrollbar-x-rail */
    height: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -o-transition: background-color .2s linear, opacity .2s linear;
    -webkit-transition: background-color.2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
}

.ps-container:hover .ps-scrollbar-x-rail,
.ps-container.hover .ps-scrollbar-x-rail {
    opacity: 0.6;
    filter: alpha(opacity = 60);
}

.ps-container .ps-scrollbar-x-rail:hover,
.ps-container .ps-scrollbar-x-rail.hover {
    background-color: #eee;
    opacity: 0.9;
    filter: alpha(opacity = 90);
}

.ps-container .ps-scrollbar-x-rail.in-scrolling {
    opacity: 0.9;
    filter: alpha(opacity = 90);
}

.ps-container .ps-scrollbar-y-rail {
    position: absolute; /* please don't change 'position' */
    right: 3px; /* there must be 'right' for ps-scrollbar-y-rail */
    width: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -o-transition: background-color .2s linear, opacity .2s linear;
    -webkit-transition: background-color.2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
}

.ps-container:hover .ps-scrollbar-y-rail,
.ps-container.hover .ps-scrollbar-y-rail {
    opacity: 0.6;
    filter: alpha(opacity = 60);
}

.ps-container .ps-scrollbar-y-rail:hover,
.ps-container .ps-scrollbar-y-rail.hover {
    background-color: #eee;
    opacity: 0.9;
    filter: alpha(opacity = 90);
}

.ps-container .ps-scrollbar-y-rail.in-scrolling {
    opacity: 0.9;
    filter: alpha(opacity = 90);
}

.ps-container .ps-scrollbar-x {
    position: absolute; /* please don't change 'position' */
    bottom: 0; /* there must be 'bottom' for ps-scrollbar-x */
    height: 8px;
    background-color: #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -o-transition: background-color .2s linear;
    -webkit-transition: background-color.2s linear;
    -moz-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.ps-container.ie6 .ps-scrollbar-x {
    font-size: 0; /* fixed scrollbar height in xp sp3 ie6 */
}

.ps-container .ps-scrollbar-x-rail:hover .ps-scrollbar-x,
.ps-container .ps-scrollbar-x-rail.hover .ps-scrollbar-x {
    background-color: #999;
}

.ps-container .ps-scrollbar-y {
    position: absolute; /* please don't change 'position' */
    right: 0; /* there must be 'right' for ps-scrollbar-y */
    width: 8px;
    background-color: #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -o-transition: background-color .2s linear;
    -webkit-transition: background-color.2s linear;
    -moz-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.ps-container.ie6 .ps-scrollbar-y {
    font-size: 0; /* fixed scrollbar height in xp sp3 ie6 */
}

.ps-container .ps-scrollbar-y-rail:hover .ps-scrollbar-y,
.ps-container .ps-scrollbar-y-rail.hover .ps-scrollbar-y {
    background-color: #999;
}

.ps-container.ie .ps-scrollbar-x,
.ps-container.ie .ps-scrollbar-y {
    visibility: hidden;
}

.ps-container.ie:hover .ps-scrollbar-x,
.ps-container.ie:hover .ps-scrollbar-y,
.ps-container.ie.hover .ps-scrollbar-x,
.ps-container.ie.hover .ps-scrollbar-y {
    visibility: visible;
}
