<% include ../common/header %>
<% include ../common/navbar %>

<div class="container" id="body-container" ng-controller="ManageAccountsController">

    <% include ../common/sidebar %>

    <div class="main-container">
        <div class="row">

            <div class="col-sm-3 item-list" id="left-cont" fullheight>
                <div class="el-head">
                    <a href="#modal_edit_account" ng-click="new_account()" class="btn btn-primary btn-add btn-sm" role="button" data-toggle="modal"><i class="fa fa-plus"></i>&nbsp;Add New</a>
                    <h4>ACCOUNTS</h4>
                </div>
                <div class="content" id="task-left" style="overflow: hidden; position:relative; height: {{ target_height }}px; padding-bottom: 10px;">
                    <div class="el" style="cursor: pointer;" ng-click="select_account(account)" ng-class="{ 'active': editing.id == account.id }" ng-repeat="account in accounts">
                        <a class="no-icon" ng-bind="account.billing_company"></a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6" id="middle-cont" heighttarget>
                <h4 class="client-profile-header">ACCOUNT PROFILE</h4>
                <div id="cscroll" style="overflow: hidden; position:relative; height: {{ target_height }}px; padding-bottom: 10px;">
                    <div class="row">
                        <form name="form_edit_entry" role="form">
                            <div class="form-group" ng-class="{ 'has-success': form_edit_entry.billing_fname.$valid && form_edit_entry.billing_fname.$dirty, 'has-error': form_edit_entry.billing_fname.$invalid }">
                                <label class="control-label">Contact First Name</label>
                                <input type="text" name="billing_fname" class="form-control" ng-model="editing.billing_fname" placeholder="Example: 'John'" required />
                            </div>
                            <div class="form-group" ng-class="{ 'has-success': form_edit_entry.billing_lname.$valid && form_edit_entry.billing_lname.$dirty, 'has-error': form_edit_entry.billing_lname.$invalid }">
                                <label class="control-label">Contact Last Name</label>
                                <input type="text" name="billing_lname" class="form-control" ng-model="editing.billing_lname" placeholder="Example: 'Doe'" required />
                            </div>
                            <div class="form-group" ng-class="{ 'has-success': form_edit_entry.billing_email.$valid && form_edit_entry.billing_email.$dirty, 'has-error': form_edit_entry.billing_email.$invalid }">
                                <label class="control-label">Contact Email</label>
                                <input type="email" name="billing_email" class="form-control" ng-model="editing.billing_email" placeholder="Example: 'john@example.com'" required />
                            </div>
                            <div class="form-group" ng-class="{ 'has-success': form_edit_entry.billing_company.$valid && form_edit_entry.billing_company.$dirty, 'has-error': form_edit_entry.billing_company.$invalid }">
                                <label class="control-label">Company Name</label>
                                <input type="text" name="billing_company" class="form-control" ng-model="editing.billing_company" placeholder="Example: 'Acme Elevators'" required />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Sign Up Date:</label>
                                <input type="text" name="sign_up" class="form-control" value="{{ editing.created_at }}" disabled ng-cloak />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Active Users:</label>
                                <input type="text" name="active_users" class="form-control" ng-model="editing.user_count" disabled />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Billing:</label>
                                <input type="text" name="details" class="form-control" value="${{ editing.cost }}.00 Monthly" disabled ng-cloak />
                            </div>
                            <div class="form-group row" style="margin-left: 0; margin-right: 0;">
                                <div class="col-sm-6" style="padding-left: 0;">
                                    <a href="#modal_delete_account" type="button" class="btn btn-danger btn-block" role="button" data-toggle="modal">Delete Account</a>
                                </div>
                                <div class="col-sm-6" style="padding-right: 0;">
                                    <button type="button" class="btn btn-primary btn-block" ng-disabled="form_edit_entry.$invalid || !form_edit_entry.$dirty" ng-click="save_account(editing)">Save Account</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-sm-3" id="right-cont" fullheight>
                <h4>HELP AREA</h4>
                <div class="row" id="right-scroll">
                    <div class="content">
                        <div class="el stdpad">
                            <p>Some helpful text explaining this section.</p>
                        </div>
                    </div>
                </div>
            </div>

            <% include modal_delete_account %>
            <% include modal_edit_account %>

        </div>
    </div>


</div>

<% include ../common/footer %>