<div class="modal fade" id="modal_edit_account" tabindex="-1" role="dialog" aria-labelledby="label_modal_edit_account" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="form_add_entry" class="form-horizontal" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="label_modal_edit_account" ng-bind="modal_title_edit_account">Add New Account</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group" ng-class="{ 'has-success': form_add_entry.billing_fname.$valid && form_add_entry.billing_fname.$dirty, 'has-error': form_add_entry.billing_fname.$invalid }">
                        <label class="col-sm-4 control-label">First Name</label>
                        <div class="col-sm-8">
                            <input type="text" name="billing_fname" class="form-control" ng-model="modal.billing_fname" placeholder="Example: 'John'" required />
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-success': form_add_entry.billing_lname.$valid && form_add_entry.billing_lname.$dirty, 'has-error': form_add_entry.billing_lname.$invalid }">
                        <label class="col-sm-4 control-label">Last Name</label>
                        <div class="col-sm-8">
                            <input type="text" name="billing_lname" class="form-control" ng-model="modal.billing_lname" placeholder="Example: 'Doe'" required />
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-success': form_add_entry.billing_email.$valid && form_add_entry.billing_email.$dirty, 'has-error': form_add_entry.billing_email.$invalid }">
                        <label class="col-sm-4 control-label">Email</label>
                        <div class="col-sm-8">
                            <input type="email" name="billing_email" class="form-control" ng-model="modal.billing_email" placeholder="Example: 'joe@example.com'" required />
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-success': form_add_entry.billing_company.$valid && form_add_entry.billing_company.$dirty, 'has-error': form_add_entry.billing_company.$invalid }">
                        <label class="col-sm-4 control-label">Company</label>
                        <div class="col-sm-8">
                            <input type="text" name="billing_company" class="form-control" ng-model="modal.billing_company" placeholder="Example: 'Acme Elevators'" required />
                        </div>
                    </div>
                    <div ng-if="modal_title_edit_company != ''">
                        <h5 style="margin-bottom: 10px; padding-bottom: 0; padding-top: 10px;">Account Administrator</h5>
                        <hr style="margin-top: 0px; padding-top: 0;" />

                        <div class="form-group" ng-class="{ 'has-success': form_add_entry.fname.$valid && form_add_entry.fname.$dirty, 'has-error': form_add_entry.fname.$invalid }">
                            <label class="col-sm-4 control-label">First Name</label>
                            <div class="col-sm-8">
                                <input type="text" name="fname" class="form-control" ng-model="admin.fname" placeholder="Example: 'John'" required />
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-success': form_add_entry.lname.$valid && form_add_entry.lname.$dirty, 'has-error': form_add_entry.lname.$invalid }">
                            <label class="col-sm-4 control-label">Last Name</label>
                            <div class="col-sm-8">
                                <input type="text" name="lname" class="form-control" ng-model="admin.lname" placeholder="Example: 'Doe'" required />
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-success': form_add_entry.password.$valid && form_add_entry.password.$dirty, 'has-error': form_add_entry.password.$invalid }">
                            <label class="col-sm-4 control-label">Password</label>
                            <div class="col-sm-8">
                                <input type="text" name="password" class="form-control" ng-model="admin.password" required />
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-success': form_add_entry.password2.$valid && form_add_entry.password2.$dirty, 'has-error': form_add_entry.password2.$invalid || admin.password != admin.password2 }">
                            <label class="col-sm-4 control-label">Confirm Password</label>
                            <div class="col-sm-8">
                                <input type="text" name="password2" class="form-control" ng-model="admin.password2" required />
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-success': form_add_entry.email.$valid && form_add_entry.email.$dirty, 'has-error': form_add_entry.email.$invalid }">
                            <label class="col-sm-4 control-label">Email</label>
                            <div class="col-sm-8">
                                <input type="email" name="email" class="form-control" ng-model="admin.email" placeholder="Example: 'john@example.com'" required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-disabled="form_add_entry.$invalid || admin.password != admin.password2" ng-click="save_account(modal)">Save</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->