<% include ../common/header %>
<% include ../common/navbar %>

<div class="container" id="body-container" ng-controller="TasksController">

    <% include ../common/sidebar %>

    <div class="main-container">
        <div class="row">

            <div class="col-sm-3 item-list" id="left-cont" fullheight>
                <div class="el-head">
                    <a href="#modal_edit_task" class="btn btn-primary btn-add btn-sm" ng-click="new_task()" role="button" data-toggle="modal"><i class="fa fa-plus"></i>&nbsp;Add New</a>
                    <h4>TASKS OVERVIEW</h4>
                </div>
                <div class="content" id="task-left" style="overflow: hidden; position:relative; height: {{ target_height }}px; padding-bottom: 10px;">
                    <div class="el" ng-repeat="task in tasks" style="cursor: pointer;" ng-click="select_task(task)" ng-class="{ 'active': current.id == task.id }">
                        <a class="no-icon" ng-bind="task.title"></a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6" id="middle-cont" heighttarget>
                <h4 class="client-profile-header">TASK DETAILS</h4>
                <div id="cscroll" style="overflow: hidden; position:relative; height: {{ target_height }}px; padding-bottom: 10px;">
                    <div ng-show="tasks.length" ng-cloak>
                        <div class="row">
                            <div class="col-sm-9">
                                <h5 class="task-header" ng-bind="current.title"></h5>
                            </div>
                            <div class="col-sm-3 text-center">
                                <a class="btn btn-primary" href="#modal_edit_task" role="button" data-toggle="modal" ng-click="edit_task(current)"><i class="fa fa-gear" ></i>&nbsp;Edit Task</a>
                                <a class="text-lightgrey delete-link" href="#modal_delete_task" role="button" data-toggle="modal">Delete Task</a>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <p class="task-text" ng-bind="current.description"></p>
                        </div>
                    </div>
                    <div ng-show="!tasks.length" ng-cloak>
                        <br />&nbsp;
                        <div class="text-center">
                            <h3>No tasks created yet</h3>
                            <br />
                            <div>
                                <a href="#modal_edit_task" class="btn btn-primary" role="button" ng-click="new_task()" data-toggle="modal"><i class="fa fa-plus"></i>&nbsp;Create New Task</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3" id="right-cont" fullheight>
                <wd-workwall></wd-workwall>
            </div>
        </div>
    </div>

    <% include modal_edit_task %>
    <% include modal_delete_task %>

</div>

<% include ../common/footer %>