<!-- Add Entry Modal -->
<div class="modal fade" id="modal_edit_task" tabindex="-1" role="dialog" aria-labelledby="label_modal_edit_task" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" style="width: 500px;">
        <div class="modal-content">
            <form name="form_edit_task" class="form-horizontal" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="label_modal_edit_task" ng-bind="modal_title_edit_task">Add New Task</h4>
                </div>
                <div class="modal-body" style="padding-left: 35px; padding-right: 35px; padding-bottom: 0;">
                    <div class="form-group" ng-class="{ 'has-success': form_edit_task.title.$valid && form_edit_task.title.$dirty, 'has-error': form_edit_task.title.$invalid }">
                        <label for="txt_TaskTitle" class="control-label">Task Title:</label>
                        <input type="text" class="form-control" name="title" ng-model="editing.title" id="txt_TaskTitle" placeholder="Name your new task" required />
                    </div>
                    <div class="form-group" ng-class="{ 'has-success': form_edit_task.description.$valid && form_edit_task.description.$dirty, 'has-error': form_edit_task.description.$invalid }">
                        <label for="txt_TaskDescription" class="control-label">Task Description:</label>
                        <textarea rows="5" class="form-control" name="description" ng-model="editing.description" id="txt_TaskDescription" placeholder="Describe your new task..." required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-block" ng-disabled="form_edit_task.$invalid || !form_edit_task.$dirty" ng-click="save_task(editing)"><i class="fa fa-plus-o"></i>&nbsp;Save Task</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->