<% if (flash && flash.info) { %>
<div class="alert alert-info fade in">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong><%- flash.info %></strong>
</div>
<% } %>
<% if (flash && flash.error) { %>
<div class="alert alert-danger fade in">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong><%- flash.error %></strong>
</div>
<% } %>
<% if (flash && flash.warn) { %>
<div class="alert alert-warning fade in">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong><%- flash.warn %></strong>
</div>
<% } %>
<% if (flash && flash.success) { %>
<div class="alert alert-success fade in">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong><%- flash.success %></strong>
</div>
<% } %>