    <!--<hr />

    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 muted credit">
                    &copy; Workado
                </div>
            </div>
        </div>
    </div>-->

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-resource.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-cookies.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js"></script>
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="<%= config.socket_host + '/socket.io/socket.io.js' %>"></script>
    <% if (config.consolidate_assets) { %>
    <script src="<%= asset('compiled.min.js') %>"></script>
    <% } else { %>
    <script src="<%- asset('js/app.js') %>"></script>
    <script src="<%- asset('js/models/account.js') %>"></script>
    <script src="<%- asset('js/models/billing.js') %>"></script>
    <script src="<%- asset('js/models/campaign.js') %>"></script>
    <script src="<%- asset('js/models/campaign_note.js') %>"></script>
    <script src="<%- asset('js/models/company.js') %>"></script>
    <script src="<%- asset('js/models/month_template.js') %>"></script>
    <script src="<%- asset('js/models/task.js') %>"></script>
    <script src="<%- asset('js/models/task_template.js') %>"></script>
    <script src="<%- asset('js/models/user.js') %>"></script>
    <script src="<%- asset('js/controllers/login_controller.js') %>"></script>
    <script src="<%- asset('js/controllers/billing_controller.js') %>"></script>
    <script src="<%- asset('js/controllers/campaigns_controller.js') %>"></script>
    <script src="<%- asset('js/controllers/manage_accounts_controller.js') %>"></script>
    <script src="<%- asset('js/controllers/manage_companies_controller.js') %>"></script>
    <script src="<%- asset('js/controllers/manage_users_controller.js') %>"></script>
    <script src="<%- asset('js/controllers/change_password_controller.js') %>"></script>
    <script src="<%- asset('js/controllers/nav_controller.js') %>"></script>
    <script src="<%- asset('js/controllers/tasks_controller.js') %>"></script>
    <script src="<%- asset('js/controllers/topnav_controller.js') %>"></script>
    <script src="<%- asset('js/directives/activity.js') %>"></script>
    <script src="<%- asset('js/directives/full_height.js') %>"></script>
    <script src="<%- asset('js/directives/gravatar.js') %>"></script>
    <script src="<%- asset('js/directives/timeline.js') %>"></script>
    <script src="<%- asset('js/directives/workwall.js') %>"></script>
    <script src="<%- asset('js/directives/prefix_http.js') %>"></script>
    <script src="<%- asset('js/services/accounts.js') %>"></script>
    <script src="<%- asset('js/services/campaigns.js') %>"></script>
    <script src="<%- asset('js/services/companies.js') %>"></script>
    <script src="<%- asset('js/services/month_templates.js') %>"></script>
    <script src="<%- asset('js/services/socket.js') %>"></script>
    <script src="<%- asset('js/services/task_templates.js') %>"></script>
    <script src="<%- asset('js/services/tasks.js') %>"></script>
    <script src="<%- asset('js/services/users.js') %>"></script>
    <script src="<%- asset('js/ng-quick-date.min.js') %>"></script>
    <script src="<%- asset('scrollbar/min/perfect-scrollbar-0.4.8.with-mousewheel.min.js') %>"></script>
    <% } %>
</body>
</html>