<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="WorkadoApp"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="WorkadoApp"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="WorkadoApp"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="WorkadoApp"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title><%= title %><%- config.site_title_common %><%= title_suffix %></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
    <link href="<%= asset('compiled.min.css') %>" rel="stylesheet" />
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="<%= asset('favicon.png') %>" />
    <!--[if IE 7]>
    <link type="text/css" rel="stylesheet" href="<%= asset('css/ie7.css') %>" />
    <![endif]-->
    <script type="text/javascript">
        var cdn_assets = <%- get_assets() %>;
        var user_id = '<%- session.user_id %>';
        var account_id = '<%- session.account_id %>';
        var api_host = '<%- config.api_host %>';
        var socket_host = '<%- config.socket_host %>';
        var token = '<%- session.token %>';
    </script>
</head>
<body>