<header id="topnav" class="navbar" role="navigation" ng-controller="TopNavController">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img class="img-responsive logo" src="<%= asset('images/logo.png') %>" alt="logo" />
            </a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <nav class="collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">

            </ul>
            <% if (session.user) { %>
            <ul class="nav navbar-nav navbar-right">
                <li class="text-center" id="member-notifications" ng-mouseenter="show_notifications(true)" ng-mouseleave="show_notifications(false)">
                    <p class="navbar-text">
                        <img class="menu-avatar" src="<%- gravatar(session.user.email, 30) %>" alt="<%- session.user.fname %> <%- session.user.lname %>" />
                        Welcome, <strong><%- session.user.fname %> <%- session.user.lname %></strong>
                        <span class="glyphicon glyphicon-comment comment"><span class="comments" ng-bind="assigned"></span></span>

                    </p>
                    <div id="notifications-container" ng-show="notifications_on" style="width: {{notification_width}}px;" ng-cloak>
                        <ul>
                            <li ng-repeat="task in tasks">
                                <a href="/campaigns/#/{{ task.campaign_id }}/{{ task.id }}">
                                    <i class="fa fa-tasks"></i>
                                    <span ng-bind="task.title"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="text-center">
                    <a class="nav-icon" href="/logout">Logout</a>
                </li>
            </ul>
            <% } %>
        </nav>

    </div>
</header>