<div class="left-menu" ng-controller="NavController">
    <ul id="sidebar-nav" class="nav navbar-nav" fullheight>
        <li>
            <a href="/campaigns"><i class="fa fa-suitcase fa-2x"></i>Campaigns</a>
        </li>
        <% if (session.user && (session.user.type == 0 || session.user.type == 1)) { %>
        <li>
            <a href="/tasks"><i class="fa fa-tasks fa-2x"></i>Tasks Templates</a>
        </li>
        <% } %>
        <% if (session.user && (session.user.type == 0 || session.user.type == 1)) { %>
        <li>
            <a href="/clients"><i class="fa fa-building-o fa-2x"></i>Clients</a>
        </li>
        <% } %>
        <% if (session.user && (session.user.type == 0 || session.user.type == 1)) { %>
        <li>
            <a href="/users"><i class="fa fa-users fa-2x"></i>User Details</a>
        </li>
        <% } %>
        <% if (session.user && session.user.type == 0) { %>
        <li>
            <a href="/billing"><i class="fa fa-credit-card fa-2x"></i>Billing</a>
        </li>
        <% } %>
        <% if (session.user && session.user.is_super_admin) { %>
        <li>
            <a href="/accounts"><i class="fa fa-folder-open fa-2x"></i>Accounts</a>
        </li>
        <% } %>
        <% if (session.user) { %>
        <li>
            <a href="/password"><i class="fa fa-gear fa-2x"></i>Settings</a>
        </li>
        <% } %>
        <!--<li>
            <a href="#"><i class="fa fa-gear fa-2x"></i>Settings</a>
        </li>-->
    </ul>

</div>