<% include ../common/header %>
<% include ../common/navbar %>

<div class="container" id="body-container" ng-controller="ManageCompaniesController">

    <% include ../common/sidebar %>

    <div class="main-container">
        <div class="row">

            <div class="col-sm-3 item-list" id="left-cont" fullheight>
                <div class="el-head" ng-class="{ 'ob_target': ob.step == 1 && !companies.length  && !showing_modal }">
                    <a href="#modal_edit_company" ng-click="new_company()" class="btn btn-primary btn-add btn-sm" role="button" data-toggle="modal"><i class="fa fa-plus"></i>&nbsp;Add New</a>
                    <h4>CLIENT COMPANIES</h4>
                </div>
                <div class="content" id="task-left" style="overflow: hidden; position:relative; height: {{ target_height }}px; padding-bottom: 10px;">
                    <div class="el" style="cursor: pointer;" ng-click="select_company(company)" ng-class="{ 'active': editing.id == company.id }" ng-repeat="company in companies">
                        <a class="no-icon" ng-bind="company.name"></a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6" id="middle-cont" heighttarget>
                <h4 class="client-profile-header">COMPANY PROFILE</h4>
                <div id="cscroll" style="overflow: hidden; position:relative; height: {{ target_height }}px;">
                    <div class="row" ng-show="companies.length" ng-cloak>
                        <form name="form_edit_entry" role="form">
                            <div class="form-group" ng-class="{ 'has-success': form_edit_entry.name.$valid && form_edit_entry.name.$dirty, 'has-error': form_edit_entry.name.$invalid }">
                                <label class="control-label">Name</label>
                                <input type="text" name="name" class="form-control" ng-model="editing.name" placeholder="Example: 'Acme Elevators'" required />
                            </div>
                            <div class="form-group" ng-class="{ 'has-success': form_edit_entry.website.$valid && form_edit_entry.website.$dirty, 'has-error': form_edit_entry.website.$invalid }">
                                <label class="control-label">Website</label>
                                <input type="url" name="website" class="form-control" ng-model="editing.website" placeholder="Example: 'http://google.com'" prefix-http required />
                            </div>
                            <div class="form-group" ng-class="{ 'has-success': form_edit_entry.contact.$valid && form_edit_entry.contact.$dirty, 'has-error': form_edit_entry.contact.$invalid }">
                                <label class="control-label">Contact</label>
                                <input type="text" name="contact" class="form-control" ng-model="editing.contact" placeholder="Example: 'John Doe'" required />
                            </div>
                            <div class="form-group" ng-class="{ 'has-success': form_edit_entry.email.$valid && form_edit_entry.email.$dirty, 'has-error': form_edit_entry.email.$invalid }">
                                <label class="control-label">Email</label>
                                <input type="email" name="email" class="form-control" ng-model="editing.email" placeholder="Example: 'joe@example.com'" required />
                            </div>
                            <div class="form-group" ng-class="{ 'has-success': form_edit_entry.phone.$valid && form_edit_entry.phone.$dirty, 'has-error': form_edit_entry.phone.$invalid }">
                                <label class="control-label">Phone</label>
                                <input type="phone" name="phone" class="form-control" ng-model="editing.phone" placeholder="Example: '555-777-8888'" required />
                            </div>
                            <div class="form-group" ng-class="{ 'has-success': form_edit_entry.logo.$valid && form_edit_entry.logo.$dirty, 'has-error': form_edit_entry.logo.$invalid }">
                                <label class="control-label">Logo URL</label>
                                <input type="url" name="logo" class="form-control" ng-model="editing.logo" placeholder="Example: 'http://example.com/logo.png'" prefix-http />
                            </div>
                            <div class="form-group row" style="margin-left: 0; margin-right: 0;">
                                <div class="col-sm-6" style="padding-left: 0;">
                                    <button type="button" class="btn btn-danger btn-block" ng-click="delete_company(editing)">Delete Client Company</button>
                                </div>
                                <div class="col-sm-6" style="padding-right: 0;">
                                    <button type="button" class="btn btn-primary btn-block" ng-disabled="form_edit_entry.$invalid" ng-click="save_company(editing)">Save Client Company</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div ng-show="!companies.length" ng-cloak>
                        <br />&nbsp;
                        <div class="text-center">
                            <h3>No clients created yet</h3>
                            <br />
                            <div>
                                <a href="#modal_edit_company" class="btn btn-primary" ng-click="new_company()" role="button" data-toggle="modal"><i class="fa fa-plus"></i>&nbsp;Create New Client</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-3" id="right-cont" fullheight>
                <h4>HELP AREA</h4>
                <div class="row" id="right-scroll">
                    <div class="content">
                        <div class="el stdpad">
                            <p>Here you can start adding your clients.</p>
                            <p>You will need to add a client first before you can add a campaign.</p>
                            <p>Campaigns are then linked to individual clients.</p>
                            <p>You can have multiple campaigns per client.</p>
                            <p>The email you enter for the Client is who will receive the monthly activity digest which is sent on the first of every month.</p>
                        </div>
                    </div>
                </div>
            </div>

            <% include modal_delete_company %>
            <% include modal_edit_company %>

            <div id="ob_step_1" ng-show="ob_active && ob.step == 1 && !showing_modal" ng-cloak>
                <div class="modal" tabindex="-1" style="display: block;">
                    <div class="modal-dialog" style="width: 500px;">
                        <div class="modal-content">
                            <form name="form_ob1" class="form-horizontal" role="form">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="label_modal_create_set">Creating clients:</h4>
                                </div>
                                <div class="modal-body" style="padding-left: 35px; padding-right: 35px; padding-bottom: 0;">
                                    <div class="form-group">
                                        <p>
                                            <strong>Let's create your first client.</strong>
                                        </p>
                                        <p>
                                            Before we can start creating tasks, we need a client to work with. Go ahead and create one now.
                                        </p>
                                        <strong>Create a client to continue.</strong>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <p class="text-left"></p>
                                        </div>
                                        <div class="col-md-4">
                                            <!--<button type="button" class="btn btn-primary btn-block" ng-disabled="form_ob1.$invalid" ng-click="progress_ob(6)">&nbsp;Next</button>-->
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


                <div id="ob_step_2" ng-show="ob_active && ob.step == 2" ng-cloak>
                    <div class="modal" tabindex="-1" style="display: block;">
                        <div class="modal-dialog" style="width: 500px;">
                            <div class="modal-content">
                                <form name="form_ob2" class="form-horizontal" role="form">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="label_modal_create_set">Working with clients:</h4>
                                    </div>
                                    <div class="modal-body" style="padding-left: 35px; padding-right: 35px; padding-bottom: 0;">
                                        <div class="form-group">
                                            <p>
                                                <strong>You've got a client.</strong>
                                            </p>
                                            <p>
                                                Now we can create a campaign for this client, and start creating and assigning tasks.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <p class="text-left"></p>
                                            </div>
                                            <div class="col-md-4">
                                                <button type="button" class="btn btn-primary btn-block" ng-disabled="form_ob2.$invalid" ng-click="progress_ob(3)">&nbsp;Continue to Campaigns</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            <div id="ob_blackout" ng-show="ob_active" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,0.7); z-index: 1000;" ng-cloak></div>

        </div>
    </div>

</div>

<% include ../common/footer %>