<!-- Add Entry Modal -->
<div class="modal fade" id="modal_edit_company" tabindex="-1" role="dialog" aria-labelledby="label_modal_edit_company" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="form_add_entry" class="form form-horizontal" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="showing_modal = false">&times;</button>
                    <h4 class="modal-title" id="label_modal_edit_company" ng-bind="modal_title_edit_company">Add New User</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group" ng-class="{ 'has-success': form_add_entry.name.$valid, 'has-error': form_add_entry.name.$invalid }">
                        <label class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" name="name" class="form-control" ng-model="creating.name" placeholder="Example: 'Acme Elevators'" required />
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-success': form_add_entry.website.$valid, 'has-error': form_add_entry.website.$invalid }">
                        <label class="col-sm-3 control-label">Website</label>
                        <div class="col-sm-9">
                            <input type="url" name="website" class="form-control" ng-model="creating.website" placeholder="Example: 'http://google.com'" prefix-http required />
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-success': form_add_entry.contact.$valid, 'has-error': form_add_entry.contact.$invalid }">
                        <label class="col-sm-3 control-label">Contact</label>
                        <div class="col-sm-9">
                            <input type="text" name="contact" class="form-control" ng-model="creating.contact" placeholder="Example: 'John Doe'" required />
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-success': form_add_entry.email.$valid, 'has-error': form_add_entry.email.$invalid }">
                        <label class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-9">
                            <input type="email" name="email" class="form-control" ng-model="creating.email" placeholder="Example: 'joe@example.com'" required />
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-success': form_add_entry.phone.$valid, 'has-error': form_add_entry.phone.$invalid }">
                        <label class="col-sm-3 control-label">Phone</label>
                        <div class="col-sm-9">
                            <input type="phone" name="phone" class="form-control" ng-model="creating.phone" placeholder="Example: 'joe@example.com'" required />
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-success': form_add_entry.logo.$valid, 'has-error': form_add_entry.logo.$invalid }">
                        <label class="col-sm-3 control-label">Logo URL</label>
                        <div class="col-sm-9">
                            <input type="url" name="logo" class="form-control" ng-model="creating.logo" placeholder="Example: 'http://example.com/logo.png'" prefix-http required />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="showing_modal = false">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-disabled="form_add_entry.$invalid" ng-click="save_company(creating)">Save</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->