<% include ../common/header %>
<% include ../common/navbar %>

<div class="container" id="body-container" ng-controller="ChangePasswordController">

    <% include ../common/sidebar %>

    <div class="main-container">
        <div class="row">

            <div class="col-sm-3 item-list" id="left-cont" fullheight>
                <div class="el-head">
                    <h4>ACCOUNT</h4>
                </div>
                <div class="content" id="task-left" style="overflow: hidden; position:relative; height: {{ target_height }}px; padding-bottom: 10px;" ng-cloak>
                    <div class="el" style="cursor: pointer;" class="active">
                        <a class="no-icon">
                            Change Password
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6" id="middle-cont" heighttarget>
                <h4 class="client-profile-header">CHANGE PASSWORD</h4>
                <div id="cscroll" style="overflow: hidden; position:relative; height: {{ target_height }}px; padding-bottom: 10px;">
                    <div class="row" ng-if="!done">
                        <form name="form_change_pwd" role="form" ng-cloak>
                            <div class="form-group" ng-class="{ 'has-success': form_change_pwd.password.$valid && form_change_pwd.password.$dirty, 'has-error': form_change_pwd.password.$invalid }">
                                <label class="control-label">New Password</label>
                                <input type="password" name="password" class="form-control" ng-model="editing.pwd_one" ng-minlength="8" maxlength="64" placeholder="" required />
                            </div>
                            <div class="form-group" ng-class="{ 'has-success': form_change_pwd.password2.$valid && form_change_pwd.password2.$dirty, 'has-error': form_change_pwd.password2.$invalid || editing.pwd_one != editing.pwd_two }">
                                <label class="control-label">Confirm New Password</label>
                                <input type="password" name="password2" class="form-control" ng-model="editing.pwd_two" ng-minlength="8" maxlength="64" placeholder="" required />
                            </div>
                            <div class="form-group row" style="margin-left: 0; margin-right: 0;">
                                <div class="col-sm-6" style="padding-left: 0;">

                                </div>
                                <div class="col-sm-6" style="padding-right: 0;">
                                    <button type="button" class="btn btn-primary btn-block" ng-disabled="form_change_pwd.$invalid || !form_change_pwd.$dirty || editing.pwd_one != editing.pwd_two || processing" ng-click="save_pwd(editing)">Save New Password</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row" ng-if="done" ng-cloak>
                        <div class="alert alert-success">Password Changed</div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3" id="right-cont" fullheight>
                <h4>HELP AREA</h4>
                <div class="row" id="right-scroll">
                    <div class="content">
                        &nbsp;
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


<% include ../common/footer %>