<% include ../common/header %>
<% include ../common/navbar %>

<div class="container" id="body-container" ng-controller="ManageUsersController">

    <% include ../common/sidebar %>

    <div class="main-container">
        <div class="row">

            <div class="col-sm-3 item-list" id="left-cont" fullheight>
                <div class="el-head">
                    <a id="btn_user_add" href="#modal_edit_user" ng-click="new_user()" class="btn btn-primary btn-add btn-sm" role="button" data-toggle="modal"><i class="fa fa-plus"></i>&nbsp;Add New</a>
                    <h4>USERS</h4>
                </div>
                <div class="content" id="task-left" style="overflow: hidden; position:relative; height: {{ target_height }}px; padding-bottom: 10px;" ng-cloak>
                    <div class="el" style="cursor: pointer;" ng-click="select_user(user)" ng-class="{ 'active': editing.id == user.id }" ng-repeat="user in users">
                        <a class="no-icon">
                            <span ng-if="user.type == 0" class="label label-danger" ng-cloak>ADM</span>
                            <span ng-if="user.type == 1" class="label label-success" ng-cloak>EMP</span>
                            <span ng-if="user.type == 2" class="label label-info" ng-cloak>CON</span>
                            &nbsp;&nbsp;{{ user.fname }} {{ user.lname }}
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6" id="middle-cont" heighttarget>
                <h4 class="client-profile-header">USER PROFILE</h4>
                <div id="cscroll" style="overflow: hidden; position:relative; height: {{ target_height }}px; padding-bottom: 10px;">
                    <div class="row">
                        <form name="form_edit_entry" role="form" ng-cloak>
                            <div class="form-group" ng-class="{ 'has-success': form_edit_entry.fname.$valid && form_edit_entry.fname.$dirty, 'has-error': form_edit_entry.fname.$invalid }">
                                <label class="control-label">First Name</label>
                                <input type="text" name="fname" class="form-control" ng-model="editing.fname" placeholder="Example: 'John'" required />
                            </div>
                            <div class="form-group" ng-class="{ 'has-success': form_edit_entry.lname.$valid && form_edit_entry.lname.$dirty, 'has-error': form_edit_entry.lname.$invalid }">
                                <label class="control-label">Last Name</label>
                                <input type="text" name="lname" class="form-control" ng-model="editing.lname" placeholder="Example: 'Doe'" required />
                            </div>
                            <div class="form-group" ng-class="{ 'has-success': form_edit_entry.email.$valid && form_edit_entry.email.$dirty, 'has-error': form_edit_entry.email.$invalid }">
                                <label class="control-label">Email</label>
                                <input type="email" name="email" class="form-control" ng-model="editing.email" placeholder="Example: 'john@example.com'" required />
                            </div>
                            <div class="form-group" ng-class="{ 'has-success': form_edit_entry.type.$valid && form_edit_entry.type.$dirty, 'has-error': form_edit_entry.type.$invalid }">
                                <label class="control-label">Role</label>
                                <select name="type" class="form-control" ng-model="editing.type" required>
                                    <option value="">-- Select --</option>
                                    <option value="0">Administrator</option>
                                    <option value="1">Employee</option>
                                    <option value="2">Contractor</option>
                                </select>
                            </div>
                            <div class="form-group row" style="margin-left: 0; margin-right: 0;">
                                <div class="col-sm-6" style="padding-left: 0;">
                                    <a href="#modal_delete_user" type="button" class="btn btn-danger btn-block" role="button" data-toggle="modal">Delete User</a>
                                </div>
                                <div class="col-sm-6" style="padding-right: 0;">
                                    <button type="button" class="btn btn-primary btn-block" ng-disabled="form_edit_entry.$invalid || !form_edit_entry.$dirty" ng-click="save_user(editing)">Save User</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-sm-3" id="right-cont" fullheight>
                <h4>HELP AREA</h4>
                <div class="row" id="right-scroll">
                    <div class="content">
                        <div class="el stdpad" ng-cloak>
                            <p>You are currently using {{users.length}} of {{ (users.length > 1) ? users.length : 2 }} user licenses.</p>
                            <p>The more users you have, the more value you’ll get from Workado.</p>
                            <p>Employee users are those within your organization. They will be able to add new Campaigns, add new Clients, and complete all Tasks.</p>
                            <p>Contractor users are those outside of your organization. They will only be able to see campaigns where they have been assigned tasks. Contractors can only complete tasks that have been assigned to them.</p>
                            <p>Administrators have access the same rights as Employees, but also have the ability to add/delete users and change billing information.</p>
                            <p>User photos are automatically pulled from a Gravitar using the same email. You can sign up for Gravitar <a href="http://en.gravatar.com/" target="_blank">here</a>.</p>
                        </div>
                    </div>
                </div>
            </div>

            <% include modal_delete_user %>
            <% include modal_edit_user %>

        </div>
    </div>

</div>


<% include ../common/footer %>