<!-- Add Entry Modal -->
<div class="modal fade" id="modal_edit_user" tabindex="-1" role="dialog" aria-labelledby="label_modal_edit_user" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="form_add_entry" class="form-horizontal" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="label_modal_edit_user" ng-bind="modal_title_edit_user">Add New User</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group" ng-class="{ 'has-success': form_add_entry.fname.$valid && form_add_entry.fname.$dirty, 'has-error': form_add_entry.fname.$invalid }">
                        <label class="col-sm-3 control-label">First Name</label>
                        <div class="col-sm-9 control-label">
                            <input type="text" name="fname" class="form-control" ng-model="creating.fname" placeholder="Example: 'John'" required />
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-success': form_add_entry.lname.$valid && form_add_entry.lname.$dirty, 'has-error': form_add_entry.lname.$invalid }">
                        <label class="col-sm-3 control-label">Last Name</label>
                        <div class="col-sm-9 control-label">
                            <input type="text" name="lname" class="form-control" ng-model="creating.lname" placeholder="Example: 'Doe'" required />
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-success': form_add_entry.email.$valid && form_add_entry.email.$dirty, 'has-error': form_add_entry.email.$invalid }">
                        <label class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-9 control-label">
                            <input type="email" name="email" class="form-control" ng-model="creating.email" placeholder="Example: 'john@example.com'" required />
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-success': form_add_entry.password.$valid && form_add_entry.password.$dirty, 'has-error': form_add_entry.password.$invalid }">
                        <label class="col-sm-3 control-label">Password</label>
                        <div class="col-sm-9 control-label">
                            <input type="text" name="password" class="form-control" ng-model="creating.password" required />
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-success': form_add_entry.password2.$valid && form_add_entry.password2.$dirty, 'has-error': form_add_entry.password2.$invalid }">
                        <label class="col-sm-3 control-label">Confirm Password</label>
                        <div class="col-sm-9 control-label">
                            <input type="text" name="password2" class="form-control" ng-model="creating.password2" required />
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-success': form_add_entry.type.$valid && form_add_entry.type.$dirty, 'has-error': form_add_entry.type.$invalid }">
                        <label class="col-sm-3 control-label">Role</label>
                        <div class="col-sm-9 control-label">
                            <select name="type" class="form-control" ng-model="creating.type" required>
                                <option value="">-- Select --</option>
                                <option value="0">Administrator</option>
                                <option value="1">Employee</option>
                                <option value="2">Contractor</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-disabled="form_add_entry.$invalid || creating.password != creating.password2 || !form_add_entry.$dirty" ng-click="save_user(creating)">Save</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->