<% include ../common/header %>
<% include ../common/navbar %>

<div class="container" id="body-container" ng-controller="BillingController">

    <% include ../common/sidebar %>

    <div class="main-container">
        <div class="row">

            <div class="col-sm-3 item-list" id="left-cont" fullheight>
                <div class="el-head">
                    <h4>BILLING OPTIONS</h4>
                </div>
                <div class="content" id="task-left">
                    <div class="el" style="cursor: pointer;" ng-click="select_section('update')" ng-class="{ 'active': section == 'update' }">
                        <a class="no-icon">Update Billing Information</a>
                    </div>
                    <div class="el" style="cursor: pointer;" ng-click="select_section('delete')" ng-class="{ 'active': section == 'delete' }">
                        <a class="no-icon">Cancel Account</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6" id="middle-cont" heighttarget>
                <div ng-if="section == 'update'" ng-cloak>
                    <h4 class="client-profile-header">UPDATE BILLING INFORMATION</h4>
                    <div class="row">
                        <a id="billing-alert"></a>
                        <div ng-if="did_success || did_failure" ng-cloak>
                            <br />
                            <div ng-if="did_success" class="alert alert-success">Billing details updated.</div>
                            <div ng-if="did_failure" class="alert alert-danger" ng-bind="error_message">There was a problem updating your billing details.</div>
                        </div>

                        <form name="form_update_billing" role="form">

                            <div class="form-group" ng-class="{ 'has-success': form_update_billing.cardholder_name.$valid && form_update_billing.cardholder_name.$dirty, 'has-error': form_update_billing.cardholder_name.$invalid }">
                                <label class="control-label" for="cardholder_name">Cardholder Name:</label>
                                <input type="text" class="form-control" name="cardholder_name" ng-model="info.cardholder_name" id="cardholder_name" placeholder="Cardholder Name" required />
                            </div>

                            <div class="form-group" ng-class="{ 'has-success': form_update_billing.card_number.$valid && form_update_billing.card_number.$dirty, 'has-error': form_update_billing.card_number.$invalid }">
                                <label class="control-label" for="card_number">Card Number:</label>
                                <input type="text" class="form-control" name="card_number" ng-model="info.card_number" id="card_number" placeholder="Card Number" required />
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="expiry_date">Expiration Date:</label>
                                <div class="row no-top-margin no-left-margin">
                                    <div class="col-sm-2 right-padding10 form-group" style="margin-bottom: 0;" ng-class="{ 'has-success': form_update_billing.card_exp_month.$valid && form_update_billing.card_exp_month.$dirty, 'has-error': form_update_billing.card_exp_month.$invalid }">
                                        <input type="number" class="form-control" name="card_exp_month" ng-model="info.card_exp_month" id="card_exp_month" placeholder="Month" min="1" max="12" required />
                                    </div>
                                    <div class="col-sm-2 right-padding10 form-group" style="margin-bottom: 0;" ng-class="{ 'has-success': form_update_billing.card_exp_year.$valid && form_update_billing.card_exp_year.$dirty, 'has-error': form_update_billing.card_exp_year.$invalid }">
                                        <input type="number" class="form-control" name="card_exp_year" ng-model="info.card_exp_year" id="card_exp_year" placeholder="Year" min="2014" max="2030" required />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" ng-class="{ 'has-success': form_update_billing.card_cvv.$valid && form_update_billing.card_cvv.$dirty, 'has-error': form_update_billing.card_cvv.$invalid }">
                                <label class="control-label" for="card_cvv">CVV:</label>
                                <div class="row no-top-margin no-left-margin">
                                    <div class="col-sm-2 right-padding10">
                                        <input type="number" class="form-control" name="card_cvv" ng-model="info.card_cvv" id="card_cvv" placeholder="CVV" required />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="button" class="btn btn-primary btn-block" ng-disabled="form_update_billing.$invalid || processing || !form_update_billing.$dirty" ng-click="update(info)"><i class="fa fa-credit-card"></i>&nbsp;Save Billing Information</button>
                            </div>

                        </form>
                    </div>
                </div>
                <div ng-if="section == 'delete'" ng-cloak>
                    <h4 class="client-profile-header">CANCEL ACCOUNT</h4>
                    <div class="row">
                        <a id="billing-alert-d"></a>
                        <div ng-if="did_success || did_failure" ng-cloak>
                            <br />
                            <div ng-if="did_success" class="alert alert-success">Your account has been cancelled.</div>
                            <div ng-if="did_failure" class="alert alert-danger" ng-bind="error_message">There was a problem cancelling your account.</div>
                        </div>

                        <h2>Are you sure you wish to cancel your account?</h2>

                        <br />
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <a href="#modal_confirm_cancel" class="btn btn-danger btn-block" ng-disabled="processing" role="button" data-toggle="modal"><i class="fa fa-credit-card"></i>&nbsp;Yes, Cancel My Account</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3" id="right-cont" fullheight>
                <h4>HELP AREA</h4>
                <div class="row" id="right-scroll">
                    <div class="content" ng-cloak>
                        <div class="el">
                            <p style="margin: 0 !important; padding: 10px 10px;">You have a total of {{users.length}} users in your organization. The base package includes 2 users.  Each additional user is billed at $10.00 per user.</p>
                            <p style="margin: 0 !important; padding: 4px 10px;" ng-if="users.length > 2"><strong>Users:</strong> {{ users.length - 2 }} extra x $10.00</p>
                            <p style="margin: 0 !important; padding: 4px 10px;"><strong>Base fee:</strong> $30.00 /month</p>
                            <p style="margin: 0 !important; padding: 4px 10px;"><strong>Total costs:</strong> ${{ total_costs.toFixed(2) }} /month</p>
                        </div>
                    </div>
                </div>
            </div>

            <% include modal_confirm_cancel %>

        </div>
    </div>
</div>

<% include ../common/footer %>