<h4>Latest Activity</h4>
<ul>
    <li ng-repeat="item in activity | limitTo:10 | orderBy:'completed_on':true">
        <div class="overflow">
            <i class="fa fa-check text-lightgrey fa-2x activity-icon"></i>
            <p>
                <strong ng-bind="item.title"></strong> <!--<span class="text-blue">Completed</span>--><br />
                by <span ng-bind="user_indexes[item.completed_by].fname"></span>&nbsp;<span ng-bind="user_indexes[item.completed_by].lname"></span> on <span ng-bind="item.updated_at | dt_to_datetime"></span>
            </p>
        </div>
    </li>
    <li ng-if="!activity.length || activity.length <= 0">
        <div class="overflow">
            <p class="text-center">No Activity</p>
        </div>
    </li>
</ul>