<div class="row padding-15 carousel-cont">
    <!--Left and right carousel btns-->
    <a class="btn btn-left" ng-click="set_offset(false)"></a>
    <a class="btn btn-right" ng-click="set_offset(true)"></a>
    <ul class="carousel">
        <li class="mbox"
            ng-repeat="month in campaign.blocks | filter: { _hidden: false }"
            ng-click="change_month(month.num)"
            ng-class="{ 'active': month.num == cmonth, 'active-right': month.num == cmonth + 1 }">
            <p class="header">
                MONTH <span ng-bind="month.num"></span>  <span ng-if="campaign.actual_month == month.num"><i class="fa fa-asterisk"></i></span>
            </p>
            <p class="monthlabel" ng-bind="month.name"></p>
            <p class="progress-label">
                <span ng-if="month.completed == 0 && month.tasks.length == 0">0</span>
                <span ng-if="month.tasks.length > 0" ng-bind="((month.completed / month.tasks.length) * 100) || 0 | number:1"></span>%
            </p>
            <div class="progress active">
                <div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="{{(((month.completed / month.tasks.length) * 100) + 1) || 0}}" aria-valuemin="0" aria-valuemax="100" style="width: {{(((month.completed / month.tasks.length) * 100) + 1) || 0}}%">
                    <span class="sr-only" ng-bind="((month.completed / month.tasks.length) * 100) || 0 | number:number:1">40</span>
                </div>
            </div>
            <p class="summary-label">
                <span ng-if="month.tasks.length > 0"><span ng-bind="month.tasks.length - month.completed"></span><!-- of <span ng-bind="month.tasks.length" >6</span>--> Tasks Remaining</span>
                <span ng-if="month.tasks.length <= 0">No Tasks Planned</span>
            </p>
        </li>
    </ul>
</div>