<h4>WORK WALL</h4>
<div class="row">
    <div id="right-scroll" class="content" style="overflow: hidden; position:relative; height: {{ target_height }}px; padding-bottom: 10px;">
        <div class="el" ng-repeat="item in entries | limitTo:15 | orderBy:'completed_on':true" ng-if="item.status == 3">
            <img class="wall-img" gravatar gravatar-src="{{ users[item.completed_by].email }}" gravatar-size="57" />
            <!--<a href="#" class="fa fa-pencil-square-o text-lightgrey btn-edit"></a>-->
            <!--<a href="#" class="fa fa-trash-o text-lightgrey btn-delete"></a>-->
            <p>
                <span ng-bind="users[item.completed_by].fname"></span><!--<span ng-bind="users[item.completed_by].lname"></span>-->
                <span class="text-blue">Completed: </span><br />
                <span style="display: block;"><a href="#/{{ item.campaign_id }}/{{ item.id }}" ng-bind="campaign_index[item.campaign_id].company_name"></a></span>
                <span ng-bind="item.title"></span>
                <!--&nbsp;

                by  on
                <span ng-bind="item.completed_on | ts_to_datetime"></span>-->
            </p>
        </div>
        <div class="el stdpad text-center" ng-if="entries.length <= 0">
            <p>No Activity</p>
        </div>
    </div>
</div>