<% include ../common/header %>

<p>Dear: <%- company.contact %>,</p>

<p>This is a summary of the work done this month:</p>

<table border="1" cellpadding="3" width="700">
    <tr>
        <th>Task</th>
        <th>Date</th>
    </tr>
    <% if (tasks.length <= 0) { %>
        <tr>
            <td colspan="2">No tasks were completed this month.</td>
        </tr>
    <% } else { %>
        <% for (var i in tasks) { %>
        <tr>
            <td>
                <h4><%- tasks[i].title %></h4>
                <p><%- tasks[i].description %></p>
                <% if (tasks[i].completion_msg) { %>
                    <h5>Note:</h5>
                    <p><%= tasks[i].completion_msg %></p>
                <% } %>
            </td>
            <td>
                <%- new Date(tasks[i].completed_on * 1000).getMonth() + 1 %>/<%- new Date(tasks[i].completed_on * 1000).getDate() %>/<%- new Date(tasks[i].completed_on * 1000).getFullYear() %>
            </td>
        </tr>
        <% } %>
    <% } %>
</table>

<br />

<div>
    <strong>
        Regards,
        <br />
        <br />
        <%- account.billing_company %>
    </strong>
</div>

<% include ../common/footer %>